Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy_review:
  stage: deploy
  image:
    name: registry.gitlab.com/mlreef/devops/k8s-images/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.$KUBE_INGRESS_BASE_DOMAIN
    on_stop: stop_review
  script:
  - bin/k8s-review-deploy
  ...

post-deploy:
  stage: post-deploy
  image: docker:19.03.12
  services:
  - name: docker:19.03.12-dind
    entrypoint:
    - sh
    - -c
    - dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DAEMON_OPTIONS: --insecure-registry=0.0.0.0/0
  script:
  ...

clean rest docs folder:
  stage: maintenance
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: 'chmod +x docs/bin/ci-pages-cleanup
  
    docs/bin/ci-pages-cleanup
  
    '

pages:
  image: node:14.16.1-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 5 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

#1137 fix issues for prod
  web/.eslintrc.js
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/ui/MParagraph/MParagraph.jsx
  web/src/components/views/CreateGroup/createGroup.jsx
  web/src/components/views/CreateProject/createProject.jsx
  web/src/functions/helpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix error with redirect_url value for social networks
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/SocialService.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

GOOGLE OAuth env variables
  .gitignore
  bin/ci-deploy
  bin/k8s-review-deploy
  docker-compose.yml
  k8s/apps/kube-deployment.yml
  k8s/prepare-final-deployment-yml
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix the final step of aouth redirect
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

fix security issue with file download
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/AuthController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/FilesController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/SessionsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/system/FilesManagementService.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1146 Settings accessible for maintainers
  web/src/components/projectContainer.jsx
  web/src/components/ui/MSimpleSelect/MSimpleSelect.css
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
  web/src/components/views/SettingsView/SettingsViewMembers.scss
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1417 Add reset helpers to help menu in navbar
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/store/actionTypes.js
  web/src/store/actions/userActions.js
  web/src/store/reducers/userReducer.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/social oauth username generation bug
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add auto bump version
  web/bin/bump-version.js
  web/bin/update-git-hooks.js
  web/package-lock.json
  web/package.json
  web/src/index.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1147 Add cover to project settings
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/ui/MImageUpload/MImageUpload.jsx
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add logs for debugging social oauth
  web/package.json
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/routes.js
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix: social oauth
  web/package.json
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Remove arrow function
  web/package.json
  web/src/components/ui/MImageUpload/MImageUpload.jsx
  web/src/components/views/CreateProject/createProject.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix access_token name
  web/package.json
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix username for missing username
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/system/ReservedNamesService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Improve auto bump version
  web/bin/bump-version.js
  web/package.json
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix empty username
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/common.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/UserDto.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1145 Remove unnecessary buttons
  web/package.json
  web/src/components/layout/Dashboard/DashboardV2.scss
  web/src/components/navbar/navbar.jsx
  web/src/components/views/DashboardExplore/DashboardExplore.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1125 add pagination to gitlab
  web/.env
  web/package.json
  web/src/__tests__/JoblogId.test.jsx
  web/src/__tests__/JobsList.test.jsx
  web/src/__tests__/views/BranchesView/DeleteBranchesViewModal.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/DataOperatorCodeSection.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/uploadFiles/uploadFiles.test.jsx
  web/src/apiConfig.js
  web/src/apis/apiBuilders/ApiRequestCallBuilder.ts
  web/src/apis/apiBuilders/BLApiRequestCallBuilder.ts
  web/src/apis/apiBuilders/BasicImplFunctions.ts
  web/src/apis/apiBuilders/Builder.ts
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Move path and branch to state in order to fix script-in-directory publishing
  web/package.json
  web/src/__tests__/views/PublishingProcess/publishingProcessReducer.test.js
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/SelectBaseEnv/SelectBaseEnv.jsx
  web/src/components/views/PublishingView/SelectEntryPoint/SelectEntryPoint.jsx
  web/src/components/views/PublishingView/publishingActions.js
  web/src/components/views/PublishingView/stateManagement.js
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1091 Add experiments counter to the projects card
  web/package.json
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix error creating projects after successful response
  web/package.json
  web/src/__tests__/createProject.test.jsx
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/apis/apiBuilders/ApiRequestCallBuilder.ts
  web/src/apis/apiBuilders/BLApiRequestCallBuilder.ts
  web/src/components/views/CreateProject/createProject.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

add hotjar to head
  web/public/index.html
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Rewrite comment
  web/public/index.html
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Parse path to fix directories creation
  web/package.json
  web/src/components/layout/NewDirectoryPartial/NewDirectoryPartial.jsx
  web/src/components/views/FileEditor/FileEditor.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1147 Adapt cover to cards
  web/package.json
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/styles/modules/_card.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Maintenance: remove logs from social registration & make bump optional
  web/.env
  web/bin/bump-version.js
  web/package.json
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Get rid of e2e tests and references to them
  .gitlab-ci.yml
  web/.gitlab-ci.yml
  web/README.md
  web/bin/ci-run-end2end-tests
  web/package.json
  web/src/__end2end-tests__/CodePublishing.test.js
  web/src/__end2end-tests__/CommitsApi.test.js
  web/src/__end2end-tests__/DataPipelines.test.js
  web/src/__end2end-tests__/EPFDeploymentLocalImage.test.js
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.js
  web/src/__end2end-tests__/ProjectsGeneralInfoApiNoAuth.test.js
  web/src/__end2end-tests__/fixtures/testHelpers.js
  web/src/__end2end-tests__/testProxy.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1144 Adapt help empty proj
  web/package.json
  web/src/components/layout/EmptyProject/EmptyProject.jsx
  web/src/components/navbar-legacy/navbar-legacy.jsx
  web/src/components/navbar-legacy/navbar-legacy.scss
  web/src/components/views/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1131 Remember selected branches
  web/package.json
  web/src/components/repoFeatures.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/PublishingView/SelectBaseEnv/SelectBaseEnv.jsx
  web/src/components/views/PublishingView/SelectEntryPoint/SelectEntryPoint.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1157 Pass searchableType and check data project to display counter
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1153 Add conditional to fix empty project error
  web/src/functions/dataParserHelpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Update data to fix tests and enable skipped ones
  web/package.json
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/views/PublishingProcess/SelectBaseEnv.test.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1155 fix the link in the auth wrapper to enable forking
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/AuthWrapper/popupInformation.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1154 Add explore button
  web/package.json
  web/src/components/navbar/navbar.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Pass path instead of a boolean in requirements path
  web/src/components/views/PublishingView/PublishingView.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1148 Comment code to disable pipeline removal
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

doc/Update README.md
  README.md
Due: clean rest docs folder, pages, test rest docs are present

fix a bug with gitlab host and port in gitlab pipeline script
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/UrlUtils.kt
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
