Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*

Hide merge button in merge request view
  web/public/images/forking.png
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/customHooks/permissions.test.jsx
  web/src/__tests__/views/experiments/experimentCard.test.jsx
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/AuthWrapper/popupInformation.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/projectContainer.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/customHooks/permissions.js
  web/src/routerComp.jsx
  web/src/routes.js
Due: build frontend, deploy

Resolve frontend bugs, project update and dropdown error
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/ui/MDropdown/MDropdown.jsx
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
  web/src/components/views/SettingsView/SettingsViewMembers.scss
Due: build frontend, deploy

get rid of deprecated file
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
Due: build frontend, deploy

Consolidate some documentation files
  web/README.md
Due: build frontend, deploy

#799 Public project visibility
  backend/.gitignore
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add e2e testing for user management
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  web/package-lock.json
  web/package.json
  web/src/TokenProvider.ts
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/apiMocks/CodeProjectPublishing.spike.ts
  web/src/__end2end-tests__/apiMocks/CommitMocks.spike.ts
  web/src/__end2end-tests__/apiMocks/ProjectApiMock.spike.ts
  web/src/__end2end-tests__/apiMocks/UserApi.ts
  web/src/apis/CodeProjectPublishing.ts
  web/src/apis/CommitsApi.ts
  web/src/apis/MLAuthApi.ts
  web/src/apis/apiHelpers.js
  web/src/components/RegisterView/RegisterView.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fix toaster errors in the project view
  web/src/__tests__/functions.test.js
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/components/projectView/LastCommitSect.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvanced.jsx
  web/src/functions/apiCalls.js
Due: build frontend, deploy

Add sitemap generator, robots.txt and canonical ref in project view
  .gitignore
  web/.env
  web/Dockerfile
  web/bin/routes.js
  web/bin/sitemap-generator.js
  web/package.json
  web/public/index.html
  web/public/robots.txt
  web/src/components/ProjectTitleNActions.jsx
Due: build frontend, deploy

add forecasting model
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/model/forecasting.py
  epf/src/tests/requirements.txt
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Ignore temp pagination en public project list
  web/src/actions/projectInfoActions.js
Due: build frontend, deploy

Add proxy
  .gitlab-ci.yml
  bin/includes/ci-environment
  package-lock.json
  web/bin/ci-run-end2end-tests
  web/package-lock.json
  web/package.json
  web/src/__e2e__/proxy.js
  web/src/__e2e__/tests/projects.test.jsx
  web/src/__e2e__/tests/userManagement.test.jsx
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.jsx
  web/src/__end2end-tests__/apiMocks/ProjectApiMock.spike.ts
  web/src/__end2end-tests__/testProxy.js
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/functions/apiCalls.js
Due: build frontend, deploy

Fix bugs in Frontend and refactor code
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/ExploreView/ExploreViewProjectSet.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/__tests__/views/PipelinesExecutionView/processorsList.test.jsx
  web/src/apis/CommitsApi.ts
  web/src/components/changes-mr-section/ChangesMrSection.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/projectSet.jsx
  web/src/components/ui/MCard/MCard.jsx
  web/src/components/ui/MCard/MCard.scss
  web/src/components/ui/MCard/MCardHeader.jsx
  web/src/components/ui/MCard/MCardSection.jsx
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy

Reduce npm install log noise
  web/Dockerfile
  web/bin/ci-run-end2end-tests
Due: build frontend, deploy

#767 activate Gitlab container registry
  bin/ci-deploy
  bin/includes/install-render-local-env
  bin/install
  docker-compose.yml
Due: deploy

#813 gitlab-runner restart always and deploy fix
  .gitlab-ci.yml
  docker-compose.yml
Due: deploy

Resolve other existing frontend bugs
  web/src/__tests__/views/experiments/experimentDetails.test.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationDetail.css
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/data-visualization/dataVisualizationDetail.scss
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/jobLog.css
  web/src/components/experiment-details/menu-options/jobLog.jsx
  web/src/components/experiment-details/menu-options/jobLog.scss
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/insights/insights.jsx
  web/src/components/projectContainer.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/routes.js
Due: build frontend, deploy

Run frontend build in fewer cases
  web/.gitlab-ci.yml
Due: build frontend, deploy

Display images inside markdown files
  web/src/components/ReadMe/ReadMe.jsx
  web/src/components/ReadMe/Readme.scss
  web/src/components/projectView/projectView.jsx
Due: build frontend, deploy

Increase nginx timeout
  web/nginx_default.conf
Due: build frontend, deploy

Remove pagination
  web/src/apis/ProjectGeneralInfoApi.ts
Due: build frontend, deploy

Provide default parameters for experiments
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy

Add tests for AuthWrapper (reloaded)
  web/src/__tests__/AuthWrapper.test.jsx
  web/src/__tests__/__snapshots__/AuthWrapper.test.jsx.snap
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/projectContainer.jsx
Due: build frontend, deploy

Feature/start pipeline async
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsPipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  web/nginx_default.conf
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Paginate projects call and request only Data project
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.jsx
  web/src/actions/actionTypes.js
  web/src/actions/projectInfoActions.js
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/apis/apiGuidelines.md
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/imageDiffSection/imageDiffSection.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MScrollableSection/MScrollableSection.jsx
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/functions/apiCalls.js
  web/src/reducers/initialState.js
  web/src/reducers/projectReducer.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

change css to fix styles:
  web/src/__tests__/deleteFileModal.test.jsx
  web/src/__tests__/functions.test.js
  web/src/__tests__/layout/DeleteFileModal.test.jsx
  web/src/apis/CommitsApi.ts
  web/src/apis/DataPipelineApi.ts
  web/src/apis/FilesApi.ts
  web/src/apis/GitlabPipelinesApi.ts
  web/src/apis/JobsApi.ts
  web/src/apis/MLAuthApi.ts
  web/src/apis/PasswordManagementApi.ts
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/apis/UserApi.ts
  web/src/apis/experimentApi.ts
  web/src/apis/mergeRequestApi.js
  web/src/components/DeleteFileModal/DeleteFileActions.js
  web/src/components/DeleteFileModal/DeleteFileModal.jsx
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/arrow-button/arrowButton.jsx
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/ui/MInputSelect/MInputSelect.jsx
  web/src/components/ui/MInputSelect/MInputSelect.scss
  web/src/components/ui/MInputSelect/index.js
  web/src/functions/apiCalls.js
  web/src/functions/helpers.js
Due: build frontend, deploy

api file was renamed to use standard, fix imports
  web/src/actions/mergeActions.js
  web/src/apis/MergeRequestApi.ts
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
Due: build frontend, deploy

Add 'can create project' test
  README.md
  web/README.md
  web/bin/ci-run-end2end-tests
  web/src/__e2e__/proxy.js
  web/src/__e2e__/tests/projects.test.jsx
  web/src/__e2e__/tests/userManagement.test.jsx
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.jsx
Due: build frontend, deploy, pages

Fix publishing script error
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  bin/install
  web/src/__end2end-tests__/CodePublishing.test.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

fixing tsne
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/visualisation/tsne.py
  epf/src/visualisation/tsne_mnist.py
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Refactor for easier understanding
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Redirect to not found when project doesn't exist
  web/src/components/error-page/error404Page.jsx
  web/src/components/projectView/projectView.jsx
  web/src/routes.js
Due: build frontend, deploy

DRY up Backend CI Configuration
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/bin/ci-build-backend
  backend/bin/ci-include-test-vars.sh
  backend/bin/ci-integration-test-backend
  backend/bin/ci-pipeline-tests
  backend/bin/ci-system-tests
  backend/bin/ci-test-backend
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Remove obsolete files
  moveLFS.sh
  package-lock.json
Due: none

Add time logging to FE build
  web/Dockerfile
Due: build frontend, deploy

Remove obsolete steps from build command
  web/Dockerfile
Due: build frontend, deploy

#782 pipelines not starting
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/bin/ci-build-backend
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsPipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  bin/ci-smoke-tests
  web/package.json
  web/src/__end2end-tests__/CommitsApi.test.jsx
  web/src/__end2end-tests__/DataPipelines.test.jsx
  web/src/apis/CommitsApi.ts
  web/src/apis/DataPipelineApi.ts
  web/src/apis/GitlabPipelinesApi.ts
  web/src/apis/ProjectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#743 Verify published data operation
  backend/.gitlab-ci.yml
  bin/setup-local-environment
  web/bin/npm
  web/src/__end2end-tests__/CodePublishing.test.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#782 Add automated retry as tests / workaround
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add link in project card to open in a new tab (reloaded)
  web/src/__tests__/views/ExploreView/ExploreViewProjectSet.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
Due: build frontend, deploy

parsing files in repository
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ParserController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/RepositoryTree.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/enums.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/RepositoryService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/DataProcessorServiceTest.kt
  web/src/__end2end-tests__/CodePublishing.test.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment
