Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

Search project is fixed. Now it works fine
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/enums.kt
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/AuthenticationProvider.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/GitlabTokenAuthenticationFilter.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/TokenDetails.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/QueryBuilder.kt
  backend/mlreef-rest/src/main/resources/application-integration-test.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

add constructor to the ProcessorVersion to fix build
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Gitlab runner kubernetes executor
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  bin/ci-deploy
  bin/includes/install-parse-cli-params
  bin/install
  bin/resources/runner-config.config.toml
  bin/resources/runner-config.k8s-template.toml
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Migrate review environment to kubernetes
  .gitlab-ci.yml
  backend/bin/ci-build-backend
  backend/bin/ci-integration-test-backend
  backend/bin/ci-pipeline-tests
  backend/bin/ci-system-tests
  backend/bin/ci-test-backend
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/ci-smoke-tests
  epf/bin/ci-build-epf
  k8s/apps/gitlab-runner-configmap.yml
  k8s/apps/kube-deployment.yml
  k8s/gitlab-deployment
  k8s/gitlab/gitlab-config.yml
  k8s/gitlab/gitlab.yml
  k8s/includes/ci-environment
  k8s/includes/log
  k8s/k8s_final_yml_deployment
  web/bin/ci-build-frontend
  web/bin/ci-run-end2end-tests
Due: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Adapt the market place to the new filtering options
  web/src/apis/MLSearchApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MProjectClassification/functions.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

add file creation to make project compile
  web/src/__tests__/views/PublishingProcess/EnvironmentCard.test.jsx
  web/src/__tests__/views/PublishingProcess/PublishingViewPublishModel.test.jsx
  web/src/components/layout/NewDirectoryPartial/NewDirectoryPartial.jsx
  web/src/components/views/PublishingView/EnvironmentCard/EnvironmentCard.jsx
  web/src/components/views/PublishingView/InterludeView.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/PublishingView/info2.jsx
  web/src/components/views/PublishingView/publishingActions.js
  web/src/components/views/PublishingView/stateManagement.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

removed cahed access to jobs, get them from API to avoid problems devied from empty array
  web/src/apis/JobsApi.ts
  web/src/components/experiment-details/experimentDetails.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix and resource allocation for review environment
  .gitlab-ci.yml
  k8s/apps/kube-deployment.yml
  k8s/gitlab-deployment
  k8s/gitlab/gitlab.yml
  k8s/includes/ci-environment
  k8s/includes/gitlab-health
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Added namespace to search request
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Was added a Sign that project was published. Also published projects can be requested through search API
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ProjectDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/QueryBuilder.kt
  backend/mlreef-rest/src/main/resources/db/migration/V53__473_PUBLISHING_PROCESS.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Limit commit message to increase UI style
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/components/CommitList.jsx
  web/src/components/CommitsView/CommitView.jsx
  web/src/components/CommitsView/CommitView.scss
  web/src/components/commits-view/commitsView.css
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/routes.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Processor Version and Environment were addedd to ProjectDto
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/DataProcessorDto.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Update mlreef-file-template.yml remove port number from gitlab url before :10080
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Advacnce the wireframes for the future import data use-case
  web/src/__tests__/views/ImportDataOverview/DataProviderCard.test.jsx
  web/src/__tests__/views/ImportDataOverview/DataProviderTab.test.jsx
  web/src/__tests__/views/groupsOverview/GroupCard.test.jsx
  web/src/components/ui/MProjectCard/MProjectCardTypes.jsx
  web/src/components/views/ImportDataOverview/DataProviderCard.jsx
  web/src/components/views/ImportDataOverview/DataProviderCard.scss
  web/src/components/views/ImportDataOverview/DataProvidesTab.jsx
  web/src/components/views/ImportDataOverview/ImportDataOverview.jsx
  web/src/components/views/ImportDataOverview/ImportDataOverview.scss
  web/src/components/views/ImportDataOverview/data.js
  web/src/components/views/ImportDataOverview/index.js
  web/src/dataTypes.js
  web/src/routes.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#302 nautilus postgres setup for mlreefdb
  Dockerfile
  nautilus/assets/mlreef-wrapper
Due: none

#935 Add forking sequence diagram
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  docs/content/99-development/1-Projects.md
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

appy filters
  web/src/components/myProjects/myProjects.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Configure Gitlab and add HTTP Gateway
  Dockerfile
  nautilus/assets/mlreef-wrapper
  nautilus/bin/ci-test-build
Due: none

Implement view to let user create text files
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/FileCreation.test.jsx
  web/src/__tests__/views/profileSection.test.jsx
  web/src/__tests__/views/projectView/EmptyProject.test.jsx
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
  web/src/components/projectView/emptyProject.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/FileCreation/FileCreation.jsx
  web/src/components/views/FileCreation/FileCreation.scss
  web/src/components/views/FileCreation/actions.js
  web/src/components/views/FileCreation/fileCreationConstants.js
  web/src/components/views/FileCreation/index.js
  web/src/components/views/NewBranch/NewBranch.jsx
  web/src/functions/validations.js
  web/src/routes.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

make the experiment creation to execute each operation alone
  web/src/apis/experimentApi.ts
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#302 Add frontend and backend binaries
  .dockerignore
  Dockerfile
  backend/Dockerfile
  nautilus/assets/mlreef-wrapper
  web/Dockerfile
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Added settings for gitlab max artifact size and Nginx max body size
  bin/includes/gitlab-settings
  bin/install
  docker-compose.yml
  k8s/gitlab-deployment
  k8s/gitlab/gitlab.yml
  k8s/includes/gitlab-settings
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Enable redis access and setup runner
  Dockerfile
  nautilus/assets/mlreef-wrapper
  nautilus/bin/ci-test-build
Due: none

#558 forking process
  .gitignore
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.js
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/views/ForkView/ForkView.jsx
  web/src/components/views/ForkView/ForkView.scss
  web/src/components/views/ForkView/index.js
  web/src/components/views/create-project/createProject.jsx
  web/src/routes.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

root path was added to backend, because k8s requests it and it floods the log and makes it completely unreadable
  .gitlab-ci.yml
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/RootController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  docs/bin/ci-pages-cleanup
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Restore cleanup of docker images
  .gitlab-ci.yml
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

#302: Add login and token configuration
  .dockerignore
  .gitlab-ci.yml
  .gitlab/.base-gitlab-ci-docker-build.yml
  Dockerfile
  backend/.gitlab-ci.yml
  backend/mlreef-rest/src/main/resources/application.yml
  bin/includes/install-render-local-env
  epf/.gitlab-ci.yml
  nautilus/.gitlab-ci.yml
  nautilus/assets/mlreef-wrapper
  nautilus/bin/ci-test-build
  nautilus/bin/local-build-nautilus
  nautilus/docker-compose.yml
  web/.gitlab-ci.yml
Due: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Remove some debug logs
  backend/mlreef-rest/src/main/resources/application-docker.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix/background-push
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  epf/src/bin/background-push
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix gitlab registry and resource issue
  .gitlab-ci.yml
  k8s/gitlab/gitlab.yml
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Remove some debug logs
  backend/mlreef-rest/src/main/resources/application-docker.yml
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Move Nautilus DB to /var/opt
  Dockerfile
  nautilus/.gitlab-ci.yml
  nautilus/docker-compose.yml
Due: none

#302 Bugfix run nautilus command
  Dockerfile
  nautilus/bin/local-build-nautilus
Due: none

fix imports
  web/src/components/login/login.jsx
  web/src/components/views/ResetPassword/PasswordConfirmationView.jsx
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

change from png to svg logos
  web/src/components/login/login.jsx
  web/src/components/views/ResetPassword/PasswordConfirmationView.jsx
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
  web/src/images/MLReef_Icon_POS_BETA-01.png
  web/src/images/MLReef_Icon_POS_BETA-01.svg
  web/src/images/MLReef_Logo_Neg_H_BETA-01.png
  web/src/images/MLReef_Logo_Neg_H_BETA-01.svg
  web/src/images/MLReef_Logo_POS_H_BETA-01.png
  web/src/images/MLReef_Logo_POS_H_BETA-01.svg
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Docker push issue
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add the css and div to render the marker on published project cards
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/styles/modules/_card.scss
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/docker push to insecure registry
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  k8s/gitlab-deployment
  k8s/gitlab/gitlab.yml
  k8s/includes/gitlab-settings
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests
