Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, postman test suite, e2e test experiment

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

postman test suite:
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-newman
  cache:
    key: newman
    paths:
    - node_modules/.bin/
  script: bin/ci-postman-tests

e2e test experiment:
  allow_failure: true
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest
  script: bin/ci-test-end2end-experiment

replace state users by props users array
  web/src/components/projectView/projectView.jsx
Due: build frontend

Feature #670: Add unique constraints and JPA tests
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Account.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/subject_persons.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/common.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/AuthController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/GroupsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/RestExceptionHandler.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/resources/application-integration-test.yml
  backend/mlreef-rest/src/main/resources/db/migration/V36__679-HOTFIX-add-constraints.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/DataPopulatorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/GroupsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/GroupsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/AbstractRepositoryTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/AccountTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ExperimentTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/PipelineConfigTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/PipelineInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ProjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/SubjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Update AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Remove output type icons from project card
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/views/Explore/Explore.jsx
Due: build frontend

Change texts in the pipelines modal execution
  web/src/__tests__/views/PipelinesExecutionView/pipeLineExecutionModal.test.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
Due: build frontend

pass the status properly
  web/src/components/data-instance/dataInstanceDetails.css
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceDetails.scss
  web/src/components/data-instance/dataInstanceOverview.jsx
Due: build frontend

Fix error accessing pipelines
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
Due: build frontend

Gitlab can response with empty token. Gitlab token class didn't allow nullable token string that was the reason of exception.
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabUserToken.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Multiple my-project changes
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceContextTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceUnitTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/domain/project/ProjectDataTypes.ts
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

Conditionally deploy to review environment
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  docs/bin/ci-pages
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Group variables used in the `mlreef.yml`
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Update jobs array to fix recently created experiment error
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
Due: build frontend

Remove variables provided by Gitlab CI
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Update resnet50.py -- update notation for accuracy and create output folder if it does not exists
  epf/src/model/resnet50.py
Due: build epf

Add some datatypes to the card
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/DataProcessorIntegrationTest.kt
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/ui/MProjectCard/MProjectCardTypes.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/domain/project/ProjectDataTypes.ts
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

Move developer and architecture documentation to the public repository
  .gitlab-ci.yml
  README.md
  docs/README.md
  docs/content/99-development/0-README.md
  docs/content/99-development/auth-flow-backend-login.png
  docs/content/99-development/auth-flow-backend-register.png
  docs/content/99-development/authentication.md
  docs/content/99-development/container-diagram.gliffy
  docs/content/99-development/container-diagram.png
  docs/content/99-development/design-decisions.md
  docs/content/99-development/domain-model.md
  docs/content/99-development/domain-model.png
  docs/content/99-development/infrastructure.png
  docs/content/99-development/uml/auth_flow_backend_login.puml
  docs/content/99-development/uml/auth_flow_backend_register.puml
  docs/content/99-development/uml/domain-model-before.puml
  docs/content/99-development/uml/domain-model.puml
  docs/content/99-development/uml/infrastructure.puml
Due: none

Remove auth conditional from getUsers API
  web/src/actions/projectInfoActions.js
  web/src/apis/projectGeneralInfoApi.ts
Due: build frontend

Changes to tasks in #671
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  web/src/__tests__/clonedropdown.test.jsx
  web/src/apis/mergeRequestApi.js
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/experiment-details/menu-options/jobLog.jsx
  web/src/components/login/login.jsx
  web/src/components/projectInfo.jsx
  web/src/components/projectView/emptyProject.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/uploadFile/uploadConstantsAndFunctions.js
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/components/views/uploadFile/uploadFile.scss
  web/src/dataTypes.js
  web/src/routerComp.jsx
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

Continue solving final go-line check
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/newBranch.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/CustomizedButton.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/files-table/filesTable.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/projectContainer.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/ui/MBreadcrumb/MBreadcrumb.jsx
  web/src/components/ui/MBreadcrumb/MBreadcrumb.scss
  web/src/components/ui/MBreadcrumb/index.js
  web/src/components/ui/MCheckBox/MCheckBox.jsx
  web/src/components/ui/MCheckBox/MCheckBox.scss
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabs.jsx
  web/src/components/views/NewBranch/NewBranch.jsx
  web/src/components/views/NewBranch/NewBranch.scss
  web/src/components/views/NewBranch/index.js
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/dataModel.js
  web/src/components/views/PipelinesExecutionView/pipelineView.css
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/create-project/createProject.css
  web/src/components/views/create-project/createProject.jsx
  web/src/routerComp.jsx
  web/src/styles/modules/_forms.scss
  web/src/styles/modules/_helpers.scss
Due: build frontend

Refine explore view
  web/public/images/MLReef_loading.gif
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/actions/actionTypes.js
  web/src/actions/globalMarkerActions.js
  web/src/actions/projectInfoActions.js
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/components/ui/MDataFilters/MDataFilters.jsx
  web/src/components/ui/MProjectCard/MProjectCardTypes.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabs.scss
  web/src/components/ui/MSimpleTabs/MSimpleTabsRoutable.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabsRouted.jsx
  web/src/components/ui/MTabs/MTabs.scss
  web/src/components/views/Explore/Explore.jsx
  web/src/components/views/Explore/Explore.scss
  web/src/components/views/Explore/index.js
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/components/views/ExploreView/ExploreView.scss
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/components/views/ExploreView/README.md
  web/src/components/views/ExploreView/index.js
  web/src/customHooks/useGlobalMarker.js
  web/src/customHooks/useHashNavigation.js
  web/src/reducers/globalMarkerReducer.js
  web/src/reducers/index.js
  web/src/reducers/initialState.js
  web/src/reducers/projectReducer.js
  web/src/routerComp.jsx
  web/src/store.js
Due: build frontend

Update InitialDataLoader.kt to add list values in defaultValue parameter, in add noise and resnet 50
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Maintenance: Fix some little bugs
  web/src/__tests__/createGroup.test.jsx
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
Due: build frontend

Fix for epf permissions (taken from 661-add-modules-branch)
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/EpfController.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Update resnet50.py fix name variable
  epf/src/model/resnet50.py
Due: build epf

Create new registration landing page
  web/src/__tests__/RegisterLandingView.test.jsx
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/components/RegisterView/RegisterLandingView.jsx
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/RegisterView/RegisterView.scss
  web/src/components/RegisterView/formInformation.js
  web/src/routerComp.jsx
Due: build frontend

Improve warnings in the validations of the pipeline forms
  web/src/__tests__/functions.test.js
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/arrow-button/arrowButton.css
  web/src/components/arrow-button/arrowButton.jsx
  web/src/components/arrow-button/arrowButton.scss
  web/src/components/input/input.css
  web/src/components/input/input.jsx
  web/src/components/projectInfo.jsx
  web/src/components/ui/MProjectCard/MProjectCardTypes.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/dataTypes.js
  web/src/functions/pipeLinesHelpers.js
  web/src/functions/validations.js
Due: build frontend

Hotfix Backend&Docker CI
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/bin/ci-build-test-backend
  backend/bin/ci-dockerize-backend
  backend/bin/ci-include-test-vars.sh
  backend/bin/ci-system-test-backend.sh
  backend/bin/ci-unit-test-backend
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessorInstance.kt
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-system-test/build.gradle
  bin/ci-tests/ci-test-smoke-tests
  bin/tests/test-minimal-system-test.sh
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Update resnet50.py fix json output log
  epf/src/model/resnet50.py
Due: build epf

Add test to Explore view
  web/jest.config.js
  web/src/__tests__/customHooks/permissions.test.jsx
  web/src/__tests__/customHooks/useGlobalMarker.test.js
  web/src/__tests__/customHooks/useHashNavigation.test.js
  web/src/__tests__/views/ExploreView/ExploreView.test.jsx
  web/src/__tests__/views/ExploreView/ExploreViewProjectSet.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/setupTests.js
  web/src/setupTests.jsx
Due: build frontend

Fix minor textings
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneralAdvancedDeleteProject.test.jsx.snap
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvancedDeleteProject.jsx
Due: build frontend

Connect profile view
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/actions/actionTypes.js
  web/src/actions/userActions.js
  web/src/apis/UserApi.ts
  web/src/components/projectView/projectLastCommitSect.jsx
  web/src/components/userProfile/userProfile.jsx
  web/src/components/userProfile/userProfile.scss
  web/src/reducers/initialState.js
  web/src/reducers/userReducer.js
  web/src/testData.js
Due: build frontend

Create pipeline button and add functionality
  web/src/__tests__/views/experiments/DetailSummary.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/DetailSummary.test.jsx.snap
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/ui/MBreadcrumb/MBreadcrumb.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/routerComp.jsx
Due: build frontend

Create better drop down
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  web/src/__tests__/functions.test.js
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/components/arrow-button/arrowButton.jsx
  web/src/components/arrow-button/arrowButton.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/pipelineView.css
  web/src/functions/dataParserHelpers.js
  web/src/functions/validations.js
  web/src/testData.js
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

Allow user to upload folder
  web/src/components/views/uploadFile/uploadFile.jsx
Due: build frontend

change labels
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
Due: build frontend

generate error toastr for log error
  web/src/components/experiment-details/menu-options/jobLog.jsx
Due: build frontend

Limit data selector
  web/src/__tests__/ui/MCheckBox.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/components/ui/MCheckBox/MCheckBox.jsx
  web/src/components/ui/MCheckBox/MCheckBox.scss
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
Due: build frontend

Fixing systemTests: Removing Spring dependencies and fix runtime-junit5-gradle-issues
  backend/bin/ci-system-test-backend.sh
  backend/build.gradle
  backend/mlreef-domain/build.gradle
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/application-config.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/AbstractRestTest.kt
  backend/mlreef-system-test/build.gradle
  backend/mlreef-system-test/src/main/resources/application-system-test.yml
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/SystemTestConfiguration.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/A_User_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/AbstractSystemTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B_DataProject_Experiment_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/GenericRestClient.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*
