Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, pages

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  pages: any of: docs/**/*, README.md

Fix backend build
  .gitlab-ci-build.yml
  backend/mlreef-rest/Dockerfile
  bin/ci-build-backend
  bin/ci-compile-backend
  bin/ci-tests/ci-test-compile-backend
  bin/includes/ci-test-base
Due: compile backend, build backend, build frontend, build epf

Replace hardcoded values in File view
  web/package-lock.json
  web/package.json
  web/src/__tests__/fileView.test.js
  web/src/apis/FilesApi.ts
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/fileView/fileView.css
  web/src/components/fileView/fileView.jsx
  web/src/functions/apiCalls.js
  web/src/functions/dataParserHelpers.js
  web/src/setupTests.js
Due: build frontend

Add progress bar to execution modal
  web/src/components/execute-pipeline-modal/executePipeLineModal.jsx
  web/src/components/execute-pipeline-modal/executePipeLineModal.scss
  web/src/components/ui/MProgressBar/MProgressBar.jsx
  web/src/components/ui/MProgressBar/MProgressBar.scss
  web/src/components/ui/MProgressBar/index.js
Due: build frontend

Fix Data operations question mark description and spaces
  web/src/components/newExperiment.jsx
  web/src/components/pipeline-view/pipelineView.jsx
  web/src/components/pipeline-view/sortableDataOperationList.jsx
Due: build frontend

Move Version Info logic inside Frontend's dockerfile
  bin/ci-build-frontend
  web/.dockerignore
  web/Dockerfile
Due: build frontend

Update Project details (name, description)
  web/package-lock.json
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/functions.test.js
  web/src/__tests__/views/SettingsView/SettingsViewGeneral.test.jsx
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneral.test.jsx.snap
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/projectContainer.jsx
  web/src/components/projectInfo.jsx
  web/src/components/ui/MAccordion/MAccordionItem.jsx
  web/src/components/ui/MAccordion/MAccordionItem.scss
  web/src/components/ui/MAvatar/MAvatar.jsx
  web/src/components/ui/MAvatar/index.js
  web/src/components/ui/MEmptyAvatar/MEmptyAvatar.jsx
  web/src/components/ui/MEmptyAvatar/MEmptyAvatar.scss
  web/src/components/ui/MEmptyAvatar/index.js
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.scss
  web/src/components/views/create-project/createProject.css
  web/src/components/views/create-project/createProject.jsx
  web/src/functions/validations.js
  web/src/styles/modules/_buttons.scss
  web/src/styles/modules/_forms.scss
Due: build frontend

Add port to fix proxy problems
  web/src/apis/FilesApi.ts
  web/src/apis/apiHelpers.js
Due: build frontend

add run config
  backend/.run/RestApplication DEV.run.xml
  backend/.run/RestApplication DOCKER.run.xml
Due: compile backend, build backend

609 Update Gradle Version
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  bin/ci-build-backend
Due: compile backend, build backend

Deploy branch specific EPF image
  .gitignore
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/ci-compile-backend
  bin/ci-deploy
  bin/includes/ci-environment
  bin/includes/ci-test-base
  bin/includes/detect-os
  bin/install
  bin/newman
  bin/setup-local-environment
  bin/setup-local-environment.sh
  bin/tests/test-verify-mlreef-yml
Due: compile backend, build backend

Improve integration tests
  .gitlab-ci-test.yml
  bin/tests/test-create-user-and-project
  bin/tests/test-delete-project
  bin/tests/test-pipeline-in-gitlab
  bin/tests/test-start-experiment
  bin/tests/test-verify-mlreef-yml
Due: none

Improve Merge Request view
  .gitignore
  web/package-lock.json
  web/package.json
  web/src/apis/mergeRequestApi.js
  web/src/components/changes-mr-section/ChangesMrSection.jsx
  web/src/components/code-diff-section/codeDiffSection.jsx
  web/src/components/commitsList.jsx
  web/src/components/imageDiffSection/imageDiffSection.jsx
  web/src/components/mergeRequestDetailView/basicMR.css
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/ui/MButton/MButton.jsx
  web/src/components/ui/MParagraph/MParagraph.jsx
  web/src/components/ui/MParagraph/MParagraph.scss
  web/src/components/ui/MParagraph/index.js
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/functions/dataParserHelpers.js
Due: build frontend

Revise design on registration screen
  web/src/components/RegisterView/RegisterView.css
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/RegisterView/RegisterView.scss
  web/src/components/RegisterView/RegisterViewForm.jsx
  web/src/components/RegisterView/RegisterViewRoleForm.jsx
  web/src/components/RegisterView/formInformation.js
Due: build frontend

Improve CI framework
  .gitlab-ci-build.yml
  .gitlab-ci-provision.yml
  .gitlab-ci-test.yml
  .gitlab-ci.yml
  backend/Dockerfile
  backend/mlreef-rest/Dockerfile
  bin/ci-build-backend
  bin/ci-build-epf
  bin/ci-compile-backend
  bin/includes/ci-environment
  bin/includes/install-parse-cli-params
  bin/includes/install-render-docker-compose
  bin/includes/install-render-local-env
  bin/includes/test-environment
  bin/install
  bin/setup-backend-developer-environment
  bin/setup-epf-developer-environment
  bin/setup-frontend-developer-environment
  bin/setup-local-environment
  bin/tests/test-create-user-and-project
  bin/tests/test-delete-project
  bin/tests/test-pipeline-in-gitlab
  bin/tests/test-start-experiment
  bin/tests/test-upload-files
  bin/tests/test-verify-mlreef-yml
  settings.gradle
Due: compile backend, build backend, build frontend, build epf

Remove wrong Gradle installation
  gradle.properties
  gradlew
  gradlew.bat
Due: none

Remove obsolote code
  backend/Dockerfile
  bin/ci-deploy
  development_deployment.pem
Due: compile backend, build backend

Fix links in ContentMenu
  docs/src/components/ContentMenu/ContentMenuItem.jsx
  docs/src/components/SideMenu/SideMenu.jsx
  docs/src/components/SideMenu/SideMenu.scss
Due: pages

Fix typos and links
  docs/content/0-general/0-concepts/0-README.md
  docs/content/0-general/0-concepts/marketplace.png
  docs/content/0-general/1-repositories/0-README.md
  docs/content/0-general/1-repositories/repositories.png
  docs/content/0-general/6-releases.md
  docs/content/2-experiments/0-README.md
  docs/content/3-use_cases/0-README.md
  docs/content/5-early_access_guide.md
Due: pages

Fix button in pipeline view
  web/src/styles/modules/_buttons.scss
Due: build frontend

Add notes about mlreef#593 changes
  web/src/actions/README.md
  web/src/components/fileView/README.md
  web/src/components/myProjects/README.md
  web/src/components/navbar/README.md
  web/src/components/projectView/README.md
  web/src/components/ui/MProjectCard/README.md
  web/src/components/ui/README.md
  web/src/components/views/Explore/README.md
Due: build frontend

Fix problems caused by MR 593
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/experiments-overview/experimentsOverview.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
Due: build frontend

Correctly render backend url
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/application-dev.yml
  backend/mlreef-rest/src/main/resources/application-docker.yml
  backend/mlreef-rest/src/main/resources/application-integration-test.yml
  backend/mlreef-rest/src/main/resources/application-prod.yml
  backend/mlreef-rest/src/main/resources/application-spring-context-test.yml
  backend/mlreef-rest/src/main/resources/application-test.yml
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/ConfigurationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/AbstractServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
  backend/mlreef-rest/src/test/resources/application-config-test.yml
  bin/ci-test-end2end-experiment
  bin/includes/detect-os
  bin/includes/install-render-local-env
  bin/tests/test-verify-mlreef-yml
  epf/src/bin/epf-finish
Due: compile backend, build backend, build epf

Cache frontend build in CI
  .gitlab-ci-build.yml
  .gitlab-ci.yml
  bin/ci-build-frontend
  web/.dockerignore
  web/Dockerfile
Due: compile backend, build backend, build frontend, build epf

Activate end2end test
  .gitlab-ci.yml
  bin/tests/test-verify-mlreef-yml
Due: none

Fix typos
  bin/ci-provision
  docs/.gitlab-ci.yml
Due: pages

wip proposal: frontend uses backend search endpoint
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLParser.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/CodeProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataAlgorithm.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataOperation.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataVisualization.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/PipelineConfig.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/marketplace/MarketplaceEntry.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/marketplace/SearchableType.kt
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/MarketplaceEntryRepositoryCustomImpl.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/DataProcessorController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/caches/PublicProjectsCacheService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/db/migration/V35__629-HOTFIX-rename-values-visualization.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelineInstanceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectNamespaceSlugEndpointsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectPipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/DataProcessorIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorVisualisationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/DataProcessorServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
  web/src/actions/projectInfoActions.js
  web/src/apis/MLSearchApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/dataTypes.js
  web/src/domain/project/projectTypes.ts
Due: compile backend, build backend, build frontend

Fix colors for button while waiting
  web/src/components/Demo.jsx
  web/src/styles/modules/_buttons.scss
Due: build frontend

map to get the operator of a specific version
  web/src/actions/processorActions.js
  web/src/actions/projectInfoActions.js
  web/src/apis/DataProcessorsApi.ts
  web/src/apis/MLSearchApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectView/projectView.jsx
Due: build frontend

572-Templates for MLReef notification emails
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/PasswordService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/email/TemplateService.kt
  backend/mlreef-rest/src/main/resources/templates/html/password_reset.html
  backend/mlreef-rest/src/main/resources/templates/html/welcome.html
  backend/mlreef-rest/src/main/resources/templates/text/welcome.txt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PasswordApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/email/EmailTemplateServiceContextTest.kt
Due: compile backend, build backend

Errors more caused by routes
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/branchesView.test.jsx
  web/src/__tests__/newBranch.test.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/newBranch.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/routerComp.jsx
Due: build frontend

Remove cumbersome Frontend approval rule
  CODEOWNERS
Due: none

Merge branch 'feature/355-experiments-cancellation' of gitlab.com:mlreef/mlreef into feature/355-experiments-cancellation
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
  web/public/index.html
  web/src/__tests__/ui/MDropdown.test.jsx
  web/src/__tests__/views/experiments/ExperimentExecutionModal.test.jsx
  web/src/__tests__/views/experiments/experimentCancellationModal.test.jsx
  web/src/__tests__/views/experiments/experimentCard.test.jsx
  web/src/__tests__/views/experiments/experimentDetails.test.jsx
  web/src/apis/GitlabPipelinesApi.ts
  web/src/apis/experimentApi.js
  web/src/apis/experimentApi.ts
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.scss
  web/src/components/experiments-overview/cancellationModal/index.js
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/experiments-overview/experimentsOverview.jsx
  web/src/components/ui/MModal/MModal.jsx
  web/src/components/ui/MModal/index.js
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/testData.js
Due: compile backend, build backend, build frontend

Create groups overview
  web/.env
  web/src/__tests__/createGroup.test.jsx
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/groupsOverview/GroupCard.test.jsx
  web/src/__tests__/views/groupsOverview/GroupsOverview.test.jsx
  web/src/actions/groupsActions.js
  web/src/actions/projectInfoActions.js
  web/src/apis/GroupApi.ts
  web/src/apis/groupApi.js
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/fileView/fileView.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/projectSet.jsx
  web/src/components/views/create-group/createGroup.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
  web/src/components/views/groupsOverview/groupCard.scss
  web/src/components/views/groupsOverview/groupsOverview.scss
  web/src/components/views/groupsOverview/index.js
  web/src/images/personAvatar.png
  web/src/routerComp.jsx
  web/src/testData.js
Due: build frontend

Prepares the CI/CD pipeline
  .gitlab-ci.yml
  bin/ci-instance-info
  bin/ci-provision
  bin/includes/ci-environment
  bin/jq
  bin/newman
  bin/resources/ec2-startup
  bin/s5-aws-wrapper
  web/bin/npm
Due: build frontend

Fix proptype errors
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneral.test.jsx.snap
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
Due: build frontend

make script more resilient
  bin/ci-instance-info
Due: none
