Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

e2etest fix after laster merge
  .gitlab-ci.yml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

mode change of ci-deploy
  bin/ci-deploy
  bin/ci-provision
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

update route and modify tests
  web/src/__tests__/views/projectView/EmptyProject.test.jsx
  web/src/components/layout/EmptyProject/EmptyProject.jsx
  web/src/components/views/FileEditor/FileEditor.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

adapt cpu machine
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

handle responses and errors correctly
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix bg-light
  web/src/components/layout/EmptyProject/EmptyProject.scss
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

The limit of projects was increased to maximum value = 100. Need to implement some pagination
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Pagination issue fix
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabPage.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Bugfix for aws pipeline and k8s runner
  bin/ci-deploy
  bin/resources/runner-config.k8s-template.toml
  k8s/apps/gitlab-runner-configmap.yml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix sending wrong id in forking
  web/src/components/views/ForkView/ForkView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

add link
  web/src/components/commons/Tutorial/data.json
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Revert "add disabled to the Input param"
  web/src/__tests__/DataInstanceDetails.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/experiments/DetailSummary.test.jsx
  web/src/components/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/ExperimentDetails/MenuOptions/DetailSummary.jsx
  web/src/components/data-instance/DataInstancesCard.jsx
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/input/input.jsx
  web/src/components/layout/FilesSelector/FilesSelector.jsx
  web/src/components/ui/MLoadingSpinner/MLoadingSpinnerContainer.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesProvider.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/actions.js
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/actions.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/InputParam.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/routes.js
  web/src/store/actionTypes.js
  web/src/store/actions/userActions.js
  web/src/store/reducers/userReducer.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Nautilus data pipeline fixes
  .dockerignore
  Dockerfile
  images/experiment/Dockerfile
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
Due: none

Skip DataPipeline e2e test
  web/src/__end2end-tests__/DataPipelines.test.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Experiment table in experiment overview
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTable.scss
  web/src/components/commons/ExperimentTable/ExperimentTableFilters.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRow.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/commons/ExperimentTable/adapters.js
  web/src/components/commons/ExperimentTable/stories/ExperimentTable.stories.jsx
  web/src/components/commons/ExperimentTable/stories/experimentsDemo.json
  web/src/components/commons/TabularData/functions.js
  web/src/components/experiments-overview/DeletionModal/DeleteExperimentModal.jsx
  web/src/components/experiments-overview/ExperimentActions.js
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/ExperimentsView.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/experiments-overview/experimentsOverview.css
  web/src/components/ui/MDataTable/functions.js
  web/src/routes.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/968 republish process
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/Commit.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectNamespaceSlugEndpointsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#973 Adapt tutorial ending
  web/src/components/commons/Tutorial/README.md
  web/src/components/commons/Tutorial/Tutorial.jsx
  web/src/components/commons/Tutorial/data.json
  web/src/components/commons/Tutorial/index.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix bug in useselectedproject
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/customHooks/useSelectedProject.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

K8s deployment config separation for master and review
  k8s/apps/gitlab-runner-configmap.yml
  k8s/apps/kube-deployment.yml
  k8s/gitlab/gitlab.yml
  k8s/prepare_final_deployment_yml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add env variables for local registry
  k8s/gitlab-deployment
  k8s/gitlab-post-deployment
  k8s/includes/ci-environment
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add doc ExploreView and styles
  web/src/components/views/ExploreView/README.md
  web/src/styles/README.md
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#974 Replace fork validator regex
  web/src/components/commons/Tutorial/Tutorial.scss
  web/src/components/commons/Tutorial/data.json
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add env variables for mlreef docker registry
  .gitlab-ci.yml
  bin/includes/ci-environment
  bin/includes/install-render-local-env
  bin/install
  bin/k8s-review-deploy
  k8s/gitlab-deployment
  k8s/gitlab-post-deployment
  k8s/includes/ci-environment
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update code-publishing-dockerfile-template add tkinter library
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

skip ci update decorators
  docs/content/4-code-projects/1-publishing_code_repository.md
Due: clean rest docs folder, pages, test rest docs are present

Docs/adapt tutorial1
  web/public/tutorials/1/cats_dogs.png
  web/public/tutorials/1/click.png
  web/src/components/commons/Tutorial/Tutorial.jsx
  web/src/components/commons/Tutorial/data.json
  web/src/components/experiments-overview/ExperimentsView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#979 Bugfix for AWS pipeline
  bin/install
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update web README
  web/README.md
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Adapt Frontend to long fork
  web/src/components/projectView/projectView.jsx
  web/src/components/views/ForkView/ForkProgressView.jsx
  web/src/routes.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#982 Solve minor SEO problems
  web/bin/routes.js
  web/public/index.html
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#868 refine SEO
  web/public/index.html
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

fix
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Set min height for no content image
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/components/ui/MProjectClassification/MProjectClassification.scss
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

skic ci Update code-publishing-dockerfile-template remove python3-tk install
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Optimize bundle size and add tools
  web/bin/analize-bundle.js
  web/package-lock.json
  web/package.json
  web/src/components/commons/TabularData/TabularData.jsx
  web/src/components/commons/TabularData/TabularDataGraphCreator.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/customHooks/charts.js
  web/src/customImports/ReactPlotly.js
  web/src/customImports/chartjsLine.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

add a timeout and pipelines api call to redirect to the last pipe, remove bg-light to avoid color mismatch
  web/public/MLReef_Icon_POS_BETA-01.svg
  web/src/__tests__/views/PublishingProcess/PublishingViewPublishModel.test.jsx
  web/src/__tests__/views/groupsOverview/GroupsOverview.test.jsx
  web/src/components/ExperimentDetails/MenuOptions/jobLog.jsx
  web/src/components/changes-mr-section/ChangesMrSection.jsx
  web/src/components/changes-mr-section/functions.js
  web/src/components/code-diff-section/codeDiffSection.jsx
  web/src/components/data-instance/DataInstanceActions.js
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/login/login.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/components/projectView/projectView.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/MergeRequests/MergeRequestsOverview.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/InputParam.jsx
  web/src/components/views/Publications/Publications.jsx
  web/src/components/views/PublishProcessView/publishingActionsAndFuncs.js
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
  web/src/customHooks/useMount.js
  web/src/routes.js
  web/src/store/actionTypes.js
  web/src/store/actions/mergeActions.js
  web/src/store/actions/pipelinesActions.js
  web/src/store/actions/projectInfoActions.js
  web/src/store/index.js
  web/src/store/reducers/datainstancesReducer.js
  web/src/store/reducers/index.js
  web/src/store/reducers/initialState.js
  web/src/store/reducers/visualizationsReducer.js
  web/src/testData.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

DinD support for aws local-docker
  bin/install
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add SEO to docs application
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/Layout/Layout.jsx
  docs/src/templates/doc-page.jsx
Due: clean rest docs folder, pages, test rest docs are present

Change Welcome cards order and minor changes
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/components/RegisterView/RegisterLandingView.jsx
  web/src/components/experiments-overview/ExperimentsView.jsx
  web/src/components/views/ForkView/ForkProgressView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update background-push
  images/experiment/src/bin/background-push
Due: none
