Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*

Hotfix: exception thrown after selecting a group
  web/src/__tests__/createProject.test.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/testData.js
Due: build frontend, deploy

Items from Go life check and Data processor path
  web/src/apis/BranchesApi.ts
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/css/globalStyles.css
Due: build frontend, deploy

New feature issue template
  .gitlab/issue_templates/Feature.md
Due: none

Update InitialDataLoader.kt update input-path description
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Update requirements.txt
  epf/src/tests/requirements.txt
Due: build epf, deploy, e2e test experiment

Update InitialDataLoader.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Update user profile information
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/AuthController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/AuthIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Update im_distort_affine.py
  epf/src/pipelines/im_distort_affine.py
Due: build epf, deploy, e2e test experiment

Update tsne.py input-path instead of images-path
  epf/src/visualisation/tsne.py
Due: build epf, deploy, e2e test experiment

Fix the terms of service link in registration
  web/src/components/RegisterView/RegisterViewForm.jsx
Due: build frontend, deploy

Fix strange, random gitlabId of falsly detached GitlabProjects
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Continue #671 final go check
  web/src/__tests__/views/PipelinesExecutionView/pipeLineExecutionModal.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/RegisterView/RegisterViewRoleForm.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/navbar/navbar.scss
  web/src/components/projectInfo.jsx
  web/src/components/ui/MRadio/MRadio.css
  web/src/components/ui/MRadio/MRadio.jsx
  web/src/components/ui/MRadio/MRadio.scss
  web/src/components/ui/MRadio/MRadioGroup.jsx
  web/src/components/ui/MRadio/MRadioGroup.scss
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorList.scss
  web/src/styles/modules/_buttons.scss
Due: build frontend, deploy

closes #675: - add tests and fix rest docs
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Account.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/subject_persons.kt
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/AuthController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/UserDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/resources/db/migration/V37__675-FEATURE-add-user-register-information.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/DataPopulatorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/DataProcessorInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/AuthIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/AccountTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/CodeProjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorAlgorithmTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorOperationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorVisualisationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ExperimentTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ParameterInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/PipelineConfigTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/PipelineInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ProjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/SubjectPersonTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/SubjectTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/DataProcessorServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/EntityMocks.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/AbstractSystemTest.kt
  bin/tests/test-minimal-system-test.sh
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fixing systemTests: Removing Spring dependencies and fix runtime-junit5-gradle-issues
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B_DataProject_Experiment_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Hotfix #654: Changing project controller meaning and behaviour
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Create source code links to all code repos
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy

Remove port-based API call URL
  web/src/apis/FilesApi.ts
Due: build frontend, deploy

Redirect after login
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/login/login.jsx
  web/src/components/navbar/navbar.jsx
Due: build frontend, deploy

Display visualizations in the processor list
  bin/resources/runner-config.template.toml
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
Due: build frontend, deploy

Make CI scripts work locally again
  bin/ci-deploy
  bin/ci-provision
  bin/includes/ci-detect-ssh-keyfile
  bin/includes/ci-environment
  bin/tests/test-bash-variable-expansion
Due: deploy, e2e test experiment

#714: Fix some integrationTests and systemTests
  backend/.run/B_DataProject_Experiment_Test.run.xml
  backend/.run/backend_mlreef-system-test [systemTest].run.xml
  backend/mlreef-rest/README.md
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/TestGitlabContainer.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B_DataProject_Experiment_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

closes #698: Fix strange backend errors
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  web/src/components/RegisterView/RegisterViewForm.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Improve mobile responsiveness for projects and project view
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/files-table/filesTable.jsx
  web/src/components/myProjects/myProjects.scss
  web/src/components/navbar/navbar.jsx
  web/src/components/projectInfo.jsx
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MDataFilters/MDataFilters.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabs.scss
  web/src/components/ui/MTabs/MTabs.jsx
  web/src/components/ui/MTabs/MTabs.scss
  web/src/components/views/ExploreView/ExploreView.jsx
Due: build frontend, deploy

Fix experiment details view with backend id
  web/src/__tests__/views/experiments/__snapshots__/DetailSummary.test.jsx.snap
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
Due: build frontend, deploy

Improve filter
  web/src/apis/SearchApi.js
  web/src/apis/apiHelpers.js
  web/src/apis/projectGeneralInfoApi.ts
Due: build frontend, deploy

move data
  .gitattributes
  moveLFS.sh
Due: none

Fix links
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/RegisterView/RegisterViewForm.jsx
Due: build frontend, deploy

Star project possibility (with Gitlab starring and without search)
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Account.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/CodeProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/marketplace/Star.kt
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/MarketplaceEntryRepositoryCustomImpl.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security-services.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/CodeProjectBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DataProjectBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/resources/application-integration-test.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fix redirect after created createProject.jsx
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy

closes #716: Add systemTests to ensure Groups can have Projects
  backend/.gitignore
  backend/.gitlab-ci.yml
  backend/.run/A_User_Test.run.xml
  backend/.run/B_DataProject_Test.run.xml
  backend/bin/ci-system-test-backend.sh
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/GroupsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/GroupDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/groups/GitlabGroupsService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceUnitTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ExperimentTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ProjectTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/A_User_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/AbstractSystemTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B_DataProject_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/D_DataProject_Experiment_Test.kt
  backend/utils/drop-tables.sh
  backend/utils/reset-flyway.sh
  web/src/apis/GroupApi.ts
  web/src/apis/projectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add loading gif to marketplace
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/ExploreView/ExploreView.scss
Due: build frontend, deploy

Frontend behavior for visitors (reloaded)
  web/public/images/MLReef_lock_opt.gif
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/actions/mergeActions.js
  web/src/apis/mergeRequestApi.js
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/AuthWrapper/popupInformation.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/layout/MActionModal/MActionModal.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/projectContainer.jsx
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/styles/_initials.scss
  web/src/styles/modules/_modal.scss
Due: build frontend, deploy

Fix errors in dataset details view
  web/src/apis/DataPipelineApi.ts
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/routerComp.jsx
Due: build frontend, deploy

fix the namespace error of null project
  web/src/components/experiment-details/experimentDetails.jsx
Due: build frontend, deploy

Add pipeline status icons
  web/src/components/data-instance/dataInstanceOverview.css
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-visualization/dataVisualizationCard.css
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/css/globalStyles.css
  web/src/functions/pipeLinesHelpers.js
  web/src/images/Pipeline_Attention.png
  web/src/images/Pipeline_Fail.png
  web/src/images/Pipeline_Loading.png
  web/src/images/Pipeline_Success.png
Due: build frontend, deploy

#620: Fixes nginx to not decode URLs when send to gitlab
  backend/.run/backend_mlreef-system-test [systemTest].run.xml
  backend/bin/ci-system-test-backend.sh
  web/nginx_default.conf
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Get rid of a workaround and deprecated code
  web/src/apis/BranchesApi.ts
  web/src/apis/FilesApi.ts
  web/src/apis/apiHelpers.js
Due: build frontend, deploy

Use Link for welcome view
  web/src/__tests__/RegisterLandingView.test.jsx
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/components/RegisterView/RegisterLandingView.jsx
Due: build frontend, deploy

Fix mlscripts
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/model/multimodel.py
  epf/src/pipelines/im_color_modifier.py
  epf/src/pipelines/im_create_thumbnails.py
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

closes #716: Add systemTests to ensure Groups can have Projects
  backend/.gitlab-ci.yml
  backend/.run/B2_DataProject_Permission_Test.run.xml
  backend/bin/ci-pipeline-test-backend.sh
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-system-test/build.gradle
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/A_User_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/AbstractSystemTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B1_DataProject_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B2_DataProject_Permission_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/D_DataProject_Experiment_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment
