Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

Fix diff view not working
  web/src/components/changes-mr-section/ChangesMrSection.jsx
  web/src/components/code-diff-section/codeDiffSection.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix/remove packages idl
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/BaseEnvironment.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Doc/update docs
  docs/content/0-README.md
  docs/content/0-general/6-releases.md
  docs/content/2-experiments/0-README.md
  docs/content/3-use_cases/0-README.md
  docs/content/3-use_cases/1-catsanddogs.md
  docs/content/4-code-projects/1-publishing_code_repository.md
  docs/content/5-early_access_guide.md
Due: clean rest docs folder, pages, test rest docs are present

Fix pip server ip access for localhost in Nautilus
  Dockerfile
  bin/build-run-nautilus-offline
  docs/content/80-on-prem/1-Installing_Nautilus_offline.md
  nautilus/assets/mlreef-wrapper
  nautilus/assets/offline-setup
Due: clean rest docs folder, pages, test rest docs are present

Fix issue aborting visualizations
  web/jest.config.js
  web/src/__tests__/__snapshots__/dataInstanceOverview.test.jsx.snap
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/__tests__/views/DataInstances/DataInstanceCard.test.jsx
  web/src/__tests__/views/DataInstances/DataInstanceDetails.test.jsx
  web/src/__tests__/views/DataInstances/DataInstancesOverview.test.jsx
  web/src/__tests__/views/DataInstances/__snapshots__/DataInstanceCard.test.jsx.snap
  web/src/__tests__/views/DataInstances/testData.js
  web/src/__tests__/views/DataVisualizations/DataVisualizationsCard.test.jsx
  web/src/__tests__/views/DataVisualizations/DataVisualizationsOverview.test.jsx
  web/src/__tests__/views/DataVisualizations/__snapshots__/DataVisualizationsCard.test.jsx.snap
  web/src/__tests__/views/DataVisualizations/testData.js
  web/src/components/data-visualization/dataVisualizationCard.css
  web/src/components/data-visualization/dataVisualizationOverview.css
  web/src/components/views/DataVisualization/dataVisualizationCard.jsx
  web/src/components/views/DataVisualization/dataVisualizationCard.scss
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.scss
  web/src/components/views/DataVisualization/dataVisualizationOverview.jsx
  web/src/components/views/Datainstances/DataInstancesCard.jsx
  web/src/components/views/Datainstances/dataInstanceOverview.css
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix pagination issue
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/QueryBuilder.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add test to assert blob parsing actually works
  web/package-lock.json
  web/package.json
  web/src/__tests__/JobLog.test.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Prevent bug when jobs arr greater than 20
  web/src/__tests__/views/experiments/ExperimentDetails.test.jsx
  web/src/apis/JobsApi.ts
  web/src/components/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/ExperimentDetails/actions.js
  web/src/testData.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix rebuilding pipes use case
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/pipeLineExecutionModal.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/processorsList.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/testData.js
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1035 Fix experiment view errors
  web/src/components/commons/ExperimentTable/ExperimentTableFilters.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableOverallGraph.jsx
  web/src/components/commons/ExperimentTable/adapters.js
  web/src/components/projectContainer.jsx
  web/src/functions/helpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

bugfix and doc update
  docs/content/80-on-prem/1-Installing_Nautilus_offline.md
  nautilus/assets/mlreef-wrapper
  nautilus/assets/offline-setup
Due: clean rest docs folder, pages, test rest docs are present

#1038 Adapt experiment expanded fields
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRow.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix multiple commands in pipeline yml file
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Update InitialDataLoader.kt add exact versions
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add more unit testing
  web/src/__tests__/JobLog.test.jsx
  web/src/__tests__/JoblogId.test.jsx
  web/src/__tests__/JobsList.test.jsx
  web/src/__tests__/insightJobLog.test.jsx
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/__tests__/views/experiments/DetailSummary.test.jsx
  web/src/__tests__/views/experiments/ExperimentActions.test.js
  web/src/__tests__/views/experiments/ExperimentDetails.test.jsx
  web/src/apis/DataPipelineApi.ts
  web/src/components/CommitList.jsx
  web/src/components/commons/JobLog/JobLog.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/views/CommitsView/CommitView.jsx
  web/src/components/views/CommitsView/CommitView.scss
  web/src/components/views/CommitsView/actions.js
  web/src/components/views/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/views/ExperimentDetails/ExperimentDetail.scss
  web/src/components/views/ExperimentDetails/MenuOptions/DetailSummary.jsx
  web/src/components/views/ExperimentDetails/MenuOptions/ExperimentArtifacts.jsx
  web/src/components/views/ExperimentDetails/actions.js
  web/src/components/views/ExperimentInsights/ExperimentInsights.jsx
  web/src/components/views/ExperimentInsights/InsightMenu/JoblogsById.jsx
  web/src/components/views/ExperimentInsights/InsightMenu/jobs.jsx
  web/src/components/views/ExperimentInsights/InsightMenu/jobs.scss
  web/src/components/views/ExperimentInsights/insights.scss
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Adapt the new dashboard to pagination
  web/src/components/views/DashboardV2/ProjectsArraySection.jsx
  web/src/components/views/DashboardV2/dashBoardActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix running multiple experiments simulteniously
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Improve import data for showing it
  web/public/images/colorSpots.jpg
  web/public/images/images.png
  web/public/images/picturesRainbow.jpg
  web/public/images/sentinelHub.jpg
  web/src/__tests__/views/ImportDataOverview/DataProviderCard.test.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/ImportDataOverview/DataProviderCard.jsx
  web/src/components/views/ImportDataOverview/DataProviderCard.scss
  web/src/components/views/ImportDataOverview/DataProvidesTab.jsx
  web/src/components/views/ImportDataOverview/ImportDataOverview.jsx
  web/src/components/views/ImportDataOverview/ImportDataOverview.scss
  web/src/components/views/ImportDataOverview/data.js
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add testing and remove deprecated logic
  web/src/__tests__/integrationTests/errorActions.test.js
  web/src/__tests__/integrationTests/jobsActions.test.js
  web/src/__tests__/integrationTests/mergeActions.test.js
  web/src/__tests__/integrationTests/projectActions.test.js
  web/src/__tests__/integrationTests/testData.json
  web/src/components/projectView/projectView.jsx
  web/src/customHooks/useSelectedProject.js
  web/src/store/actions/mergeActions.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add testing for actions and remove deprecated code
  web/src/__tests__/ReadMe.test.jsx
  web/src/__tests__/__snapshots__/ReadMe.test.jsx.snap
  web/src/__tests__/integrationTests/pipelinesActions.test.js
  web/src/__tests__/integrationTests/testDataForPipelines.json
  web/src/__tests__/integrationTests/tutorialActions.test.js
  web/src/__tests__/integrationTests/userActions.test.js
  web/src/__tests__/views/groupsOverview/GroupCard.test.jsx
  web/src/__tests__/views/userAccount.test.jsx
  web/src/apis/GroupApi.ts
  web/src/components/views/Datainstances/DataInstanceActions.js
  web/src/components/views/groupsOverview/GroupActions.js
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/functions/helpers.js
  web/src/index.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1044 Fix sorting date experiments
  web/src/components/commons/ExperimentTable/adapters.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add canceled filter ti the insights view
  web/src/__tests__/JobsList.test.jsx
  web/src/apis/JobsApi.ts
  web/src/components/views/ExperimentInsights/InsightMenu/jobs.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

add tests for repo info
  web/src/__tests__/views/RepoInfo.test.jsx
  web/src/components/repoInfo.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix a bug when experiment created a branch from master with already existent...
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/RepositoryService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

remove additional handling
  web/src/components/views/PublishProcessView/publishingActionsAndFuncs.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add links to the visualizations and datasets
  web/src/components/layout/DataCard/DataCard.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/Datainstances/DataInstanceActions.js
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Simultenious run of experiments
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1000 Add poling function to get live datains visualizations info
  web/src/__tests__/ui/MTimer.test.jsx
  web/src/__tests__/views/DataInstances/DataInstanceDetailFiles.test.jsx
  web/src/__tests__/views/DataVisualizations/DataVisualizationDetails.test.jsx
  web/src/__tests__/views/DataVisualizations/DatavisualizationFiles.test.jsx
  web/src/__tests__/views/DataVisualizations/testData.js
  web/src/components/files-table/filesTable.jsx
  web/src/components/ui/MTimer/MTimer.jsx
  web/src/components/views/DataVisualization/DataVisualizationFiles.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/Datainstances/DataInstanceActions.js
  web/src/components/views/Datainstances/DatainstanceFiles.jsx
  web/src/components/views/Datainstances/JobIdLink.jsx
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
  web/src/testData.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix minor issues dashboard
  web/src/__tests__/router/Router.test.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/router/PrivateRoute.jsx
  web/src/router/Router.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

FE dashboard enhancements
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/DashboardV2/ProjectsArraySection.jsx
  web/src/components/views/DashboardV2/dashBoardActions.js
  web/src/customHooks/useEffectNoFirstRender.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

add docker login for experiments that uses private processors
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Implement code enhancements in the file uploading
  web/src/__tests__/views/DataVisualizations/DataVisualizationDetails.test.jsx
  web/src/__tests__/views/ImportDataOverview/DataProviderCard.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/DataOperatorCodeSection.test.jsx
  web/src/__tests__/views/uploadFiles/uploadFiles.test.jsx
  web/src/__tests__/views/uploadFiles/uploadFunctions.test.js
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/views/Datainstances/DataInstanceActions.js
  web/src/components/views/ImportDataOverview/DataProviderCard.jsx
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
  web/src/components/views/uploadFile/fileToSend.jsx
  web/src/components/views/uploadFile/uploadConstantsAndFunctions.js
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/components/views/uploadFile/uploadFileReducer.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

increase test timeout
  web/src/__tests__/views/DataVisualizations/DataVisualizationDetails.test.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add auth wrapper in experiment controls
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Refactor and test project view
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/__tests__/views/DetailedProjectView/EmptyProject.test.jsx
  web/src/__tests__/views/DetailedProjectView/projectTestData.json
  web/src/components/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/DetailedProjectView/DetailedProjectView.scss
  web/src/components/DetailedProjectView/LastCommitSect.jsx
  web/src/components/DetailedProjectView/ProjectViewactionsAndFunctions.js
  web/src/components/DetailedProjectView/README.md
  web/src/components/projectView/projectView.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/customHooks/useSelectedProject.js
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/prevent autoci after publish
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Branch naming
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ProcessorInstanceDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/PipelineConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/NameGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/processors/ProcessorsService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/BaseTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelinesApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/PipelinesIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ProjectFullChainTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1000 Replace explore view, make sorting by most stars the default
  web/src/__tests__/views/Dashboard/DashboardReducer.test.js
  web/src/__tests__/views/Dashboard/FiltersSection.test.jsx
  web/src/__tests__/views/Dashboard/TagSection.test.jsx
  web/src/components/layout/Dashboard/DashboardContext.jsx
  web/src/components/layout/Dashboard/DashboardV2.scss
  web/src/components/layout/Dashboard/FiltersSection.scss
  web/src/components/layout/Dashboard/FiltersSections.jsx
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
  web/src/components/layout/Dashboard/TagSection.jsx
  web/src/components/layout/Dashboard/constants.js
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/views/DashboardExplore/DashboardExplore.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

pipeline naming with date and not time
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/NameGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests
