Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*

Add sentiment classifier use case
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/model/bertdataset.py
  epf/src/model/bertmodel.py
  epf/src/model/bertscript.py
  epf/src/tests/requirements.txt
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Improve project details and fix errors for visitors
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  web/src/__end2end-tests__/ProjectsGeneralInfoApiNoAuth.test.jsx
  web/src/actions/projectInfoActions.js
  web/src/apis/ProjectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add routing to all breadcrumb components
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/__tests__/views/SettingsView/SettingsView.test.jsx
  web/src/__tests__/views/uploadFiles/userAccount.test.jsx
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/imageDiffSection/imageDiffSection.jsx
  web/src/components/insights/insights.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/ui/MScrollableSection/MScrollableSection.jsx
  web/src/components/views/NewBranch/NewBranch.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/userSettings/Profile.scss
  web/src/components/views/userSettings/UserAccount.jsx
  web/src/functions/helpers.js
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy

Deactivate incorrectly failing test
  web/src/__end2end-tests__/DataPipelines.test.jsx
Due: build frontend, deploy

#815 gitlab runner container registry access
  .gitlab-ci.yml
  bin/install
  bin/resources/runner-config.template.toml
Due: none

Assert that docker registry contains images #828
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/E_Publishing_Data_Processor_Test.kt
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/apiMocks/CommitMocks.spike.ts
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/setupTests.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Improve not found page
  web/public/images/background_fishes.png
  web/src/ErrorHandler.jsx
  web/src/actions/actionTypes.js
  web/src/actions/errorsActions.js
  web/src/components/error-page/error404Page.jsx
  web/src/components/error-page/errorPage.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/views/ErrorView/ErrorView.jsx
  web/src/components/views/ErrorView/ErrorView.scss
  web/src/components/views/ErrorView/NotFoundView.jsx
  web/src/components/views/ErrorView/NotFoundView.scss
  web/src/components/views/ErrorView/index.js
  web/src/index.jsx
  web/src/reducers/errorsReducer.js
  web/src/reducers/index.js
  web/src/reducers/initialState.js
  web/src/routerComp.jsx
  web/src/routes.js
  web/src/store.js
Due: build frontend, deploy

refactor PipelineConfigDto to return instanceses inside it
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsPipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/PipelineConfigDto.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelineInstanceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectPipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Implement first stage of the publishing wizard
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  web/src/__tests__/FilesTable.test.jsx
  web/src/__tests__/views/PublishingProcess/EnvironmentCard.test.jsx
  web/src/__tests__/views/PublishingProcess/PublishingView.test.jsx
  web/src/__tests__/views/PublishingProcess/PublishingViewPublishModel.test.jsx
  web/src/__tests__/views/PublishingProcess/SelectBaseEnv.test.jsx
  web/src/__tests__/views/PublishingProcess/SelectEntryPoint.test.jsx
  web/src/__tests__/views/PublishingProcess/publishingProcessReducer.test.js
  web/src/apis/FilesApi.ts
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.jsx
  web/src/components/ui/MCheckBoxGroup/MCheckBoxGroup.jsx
  web/src/components/ui/MFileExplorer/MFileExplorer.jsx
  web/src/components/views/PublishingView/EnvironmentCard/EnvironmentCard.jsx
  web/src/components/views/PublishingView/EnvironmentCard/EnvironmentCard.scss
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/PublishingView/SelectBaseEnv/SelectBaseEnv.jsx
  web/src/components/views/PublishingView/SelectEntryPoint/SelectEntryPoint.jsx
  web/src/components/views/PublishingView/info.json
  web/src/components/views/PublishingView/info2.jsx
  web/src/components/views/PublishingView/publishingActions.js
  web/src/components/views/PublishingView/stateManagement.js
  web/src/functions/helpers.js
  web/src/routes.js
  web/src/testData.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Bugfixes for #834 and complete view in #816
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceDetails.scss
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/data-visualization/dataVisualizationDetail.scss
  web/src/components/experiments-overview/experimentsOverview.css
  web/src/components/layout/DataCard/DataCard.jsx
  web/src/components/layout/DataCard/DataCard.scss
  web/src/components/ui/MCard/MCard.scss
  web/src/functions/helpers.js
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy

Pin s5 image versions
  .gitlab-ci.yml
Due: none

#848 Add condition to run deploy on runner template change
  .gitlab-ci.yml
  bin/ci-deploy
  bin/ci-provision
  bin/includes/ci-instance-info
  bin/includes/install-cleanup-docker
  bin/includes/log
Due: deploy

Add links to source repo
  README.md
Due: pages

Fix issues recovering groups array
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/views/groupsOverview/GroupOverview.jsx
Due: build frontend, deploy

#796 Fix issues in the pipelines process
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelineInstanceApiTest.kt
  web/src/__end2end-tests__/DataPipelines.test.jsx
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/actions/branchesActions.js
  web/src/apis/DataPipelineApi.ts
  web/src/components/DeleteDataInstance/DeleteDatainstance.jsx
  web/src/components/data-instance/DataInstanceActions.js
  web/src/components/data-instance/DataInstancesCard.jsx
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/routerComp.jsx
  web/src/routes.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#859 Add routes for onwer only (and maintainers) and add router tests
  web/src/__tests__/AuthWrapper.test.jsx
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/router/Router.test.jsx
  web/src/components/AuthWrapper/AuthWrapper.jsx
  web/src/components/repoFeatures.jsx
  web/src/customHooks/permissions.js
  web/src/router/MemoryRouter.jsx
  web/src/router/PrivateRoute.js
  web/src/router/README.md
  web/src/router/Router.jsx
  web/src/router/index.js
  web/src/router/routeModel.js
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy

#751 Publish docker to use EPF image
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/RepositoryService.kt
  backend/mlreef-rest/src/main/resources/Dockerfile
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/db/migration/V40__751-FEATURE-CHANGE-PROCESS-VERSION-TABLE.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/RepositoryServiceContextTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Increase java heap space
  backend/Dockerfile
  bin/includes/detect-os
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#751 publish epf on own infra at the time of deployment
  bin/ci-deploy
  bin/includes/install-parse-cli-params
  bin/install
Due: deploy

#743 dry python3 parser
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLParser.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLPython3Parser.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/Python3Parser.kt
  backend/mlreef-domain/src/test/kotlin/com/mlreef/parsing/MLParsingTest.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  bin/includes/detect-os
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fixing bug for null condition
  bin/install
Due: none

Create additional features and solve bugs in detail views
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/components/data-instance/DataInstancesCard.jsx
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy

To support gitlab partial search with exact value match
  bin/install
Due: none

Add tests for low-covered comps
  web/package.json
  web/src/__tests__/NewMergeReq.test.jsx
  web/src/__tests__/mergeRequestOverview.test.jsx
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/experiments/ExperimentDeletionModal.test.jsx
  web/src/__tests__/views/experiments/ExperimentExecutionModal.test.jsx
  web/src/__tests__/views/experiments/experimentCancellationModal.test.jsx
  web/src/__tests__/views/experiments/experimentCard.test.jsx
  web/src/components/commits-view/commitsView.css
  web/src/components/commits-view/commitsView.jsx
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/experiments-overview/DeletionModal/DeleteExperimentModal.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.jsx
  web/src/components/ui/MModal/MModal.jsx
  web/src/components/ui/MModal/index.js
  web/src/components/views/MergeRequests/MergeRequestsOverview.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/MergeRequests/merge-request-overview.css
  web/src/components/views/MergeRequests/mergeReqActions.js
  web/src/components/views/MergeRequests/newMergeRequest.css
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/actions.js
  web/src/routerComp.jsx
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy

Add command line parameter --instance to end2end test CLI
  web/bin/ci-run-end2end-tests
Due: build frontend, deploy

#799 Adapt explore view to pagination
  web/src/__tests__/views/ExploreView/ExploreView.test.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/store.js
Due: build frontend, deploy

Update web/src/__end2end-tests__/CommitsApi.test.jsx, web/src/__end2end-tests__/DataPipelines.test.jsx files
  web/src/__end2end-tests__/CommitsApi.test.jsx
  web/src/__end2end-tests__/DataPipelines.test.jsx
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.jsx
Due: build frontend, deploy

#799 Refactor Market Place Backend
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Increase pipeline startup to start during e2e test
  web/src/__end2end-tests__/CodePublishing.test.jsx
Due: build frontend, deploy

Move copy code to data model entity
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataAlgorithm.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataOperation.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataVisualization.kt
  backend/mlreef-domain/src/test/kotlin/com/mlreef/rest/DataProcessorTest.kt
  backend/mlreef-domain/src/test/kotlin/com/mlreef/rest/PipelineConfigTest.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Tests for low covered comps from !926
  web/src/__tests__/DataInstanceCard.test.jsx
  web/src/__tests__/DataInstanceDetails.test.jsx
  web/src/__tests__/__snapshots__/DataInstanceCard.test.jsx.snap
  web/src/__tests__/integrationTests/mergeActions.test.js
  web/src/__tests__/layout/DataCard.test.jsx
  web/src/__tests__/layout/__snapshots__/DataCard.test.jsx.snap
  web/src/__tests__/ui/MScrollableSection.test.jsx
  web/src/__tests__/ui/__snapshots__/MScrollableSection.test.jsx.snap
  web/src/components/data-instance/DataInstancesCard.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/ui/MParagraph/MParagraph.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/testData.js
Due: build frontend, deploy

Hide function that should be private
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Create fixture for dry end2end #829
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/CommitsApi.test.jsx
  web/src/__end2end-tests__/DataPipelines.test.jsx
  web/src/__end2end-tests__/RegisterUser.test.jsx
  web/src/__end2end-tests__/fixtures/testHelpers.js
Due: build frontend, deploy

Remove counters and fix dates
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoInfo.jsx
  web/src/dataTypes.js
Due: build frontend, deploy

Redefine commit routes
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/routes.js
Due: build frontend, deploy

Fix redirect to login after register
  web/src/actions/userActions.js
  web/src/apis/SearchApi.js
  web/src/apis/UserApi.ts
  web/src/components/RegisterView/RegisterView.jsx
Due: build frontend, deploy

Improve opsec by hiding runner token
  bin/install
Due: none

e2e test Check if container tags are inside registry.
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/apis/ProjectGeneralInfoApi.ts
Due: build frontend, deploy

Add testing for experiments
  web/package.json
  web/src/__tests__/views/experiments/ExperimentActions.test.js
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/components/experiments-overview/ExperimentActions.js
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/testData.js
Due: build frontend, deploy

Remove obsolete npm command
  web/package.json
Due: build frontend, deploy
