Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy:
  stage: deploy
  image: registry.gitlab.com/systemkern/s5:1-aws
  dependencies:
  - provision
  script: bin/ci-deploy

pages:
  image: node:10.19.0-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

end2end tests:
  stage: test
  needs:
  - provision
  - deploy
  image: node:10.19.0-alpine
  script: web/bin/ci-run-end2end-tests

system tests:
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  allow_failure: false
  when: delayed
  start_in: 3 minutes
  ...

pipeline tests:
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  allow_failure: true
  when: manual
  ...

There was NullPointerException in parser
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/Python3Parser.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add some information to the instructions
  web/src/__tests__/views/FileCreation.test.jsx
  web/src/__tests__/views/projectView/EmptyProject.test.jsx
  web/src/components/layout/EmptyProject/EmptyProject.jsx
  web/src/components/layout/EmptyProject/EmptyProject.scss
  web/src/components/projectView/projectView.jsx
  web/src/components/ui/MSimpleSelect/MSimpleSelect.jsx
  web/src/components/views/FileCreation/FileCreation.jsx
  web/src/components/views/FileCreation/FileCreation.scss
  web/src/components/views/FileCreation/fileCreationConstants.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

runner gitlab url fix, local-docker dind support
  k8s/apps/gitlab-runner-configmap.yml
  k8s/apps/kube-deployment.yml
Due: none

Add minor improvements to the UI
  web/src/__tests__/views/PublishingProcess/publishingProcessReducer.test.js
  web/src/components/fileView/fileView.jsx
  web/src/components/projectContainer.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/PublishingView/stateManagement.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Nautilus local container registry epf image
  Dockerfile
  nautilus/assets/mlreef-wrapper
  nautilus/bin/local-build-nautilus
Due: none

Open external port for mlreefdb
  k8s/apps/kube-deployment.yml
Due: none

Update ForkView.jsx
  web/src/components/views/ForkView/ForkView.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix fork
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix artifacts cannot download
  web/src/apis/JobsApi.ts
  web/src/components/experiment-details/menu-options/ExperimentArtifacts.jsx
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/myProjects/myProjects.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

PVC and namespace cleanup in review environment
  .gitlab-ci.yml
  Dockerfile
  k8s/apps/kube-deployment.yml
  k8s/gitlab/gitlab.yml
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

k8s deployment ingress fix and code cleanup
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  bin/k8s-review-deploy
  k8s/gitlab-deployment
  k8s/gitlab/gitlab.yml
  k8s/ingress/ingress.yml
  k8s/k8s_final_yml_deployment
  k8s/prepare_final_deployment_yml
  nautilus/assets/mlreef-wrapper
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Publishing infromation issue
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataAlgorithm.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataOperation.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataVisualization.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ParserController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DataProcessorBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelineInstanceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectNamespaceSlugEndpointsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectPipelinesConfigApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/GitlabRestClientTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/PipelineInstanceIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/DataProcessorServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/TestGitlabContainer.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#302 Nautilus docker and db bugfixes
  Dockerfile
  nautilus/assets/mlreef-wrapper
  nautilus/bin/local-build-nautilus
  nautilus/docker-compose.yml
Due: none

add validation for the project creation
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Reinforce testing for the experiment component
  web/src/__tests__/views/experiments/DetailSummary.test.jsx
  web/src/__tests__/views/experiments/ExperimentActions.test.js
  web/src/__tests__/views/experiments/ExperimentDetails.test.jsx
  web/src/__tests__/views/experiments/JobLog.test.jsx
  web/src/components/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/ExperimentDetails/ExperimentDetail.scss
  web/src/components/ExperimentDetails/MenuOptions/DetailSummary.jsx
  web/src/components/ExperimentDetails/MenuOptions/ExperimentArtifacts.jsx
  web/src/components/ExperimentDetails/MenuOptions/jobLog.jsx
  web/src/components/ExperimentDetails/MenuOptions/jobLog.scss
  web/src/components/ExperimentDetails/actions.js
  web/src/components/experiment-details/experimentDetails.css
  web/src/components/experiment-details/menu-options/jobLog.scss
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/insights/insights-menu/jobLogById.jsx
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#302 On Prem Docu first iteration
  docs/content/80-on-prem/0-README.md
Due: pages, test rest docs are present

Yaml file generation fix
  backend/mlreef-domain/src/main/antlr/Python3.g4
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/Python3Parser.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fetch code projects instead of processors and filter published code projects only
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  web/src/apis/DataProcessorsApi.ts
  web/src/apis/MLSearchApi.ts
  web/src/components/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/functions/validations.js
  web/src/store/actions/processorActions.js
  web/src/store/reducers/index.js
  web/src/store/reducers/initialState.js
  web/src/store/reducers/processorReducer.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Update on-prem docu
  docs/content/80-on-prem/0-README.md
Due: pages, test rest docs are present

#302: Add custom frontend build for Nautilus
  .dockerignore
  Dockerfile
  bin/ci-tests/ci-test-compile-backend
  nautilus/.gitlab-ci.yml
  nautilus/bin/local-build-nautilus
Due: none

Add dash to allowed elements list for names in python file
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/Python3Parser.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Nautilus support mlreefdb volume binding and runner bugfix
  Dockerfile
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
  nautilus/assets/mlreefdb-setup
  nautilus/bin/local-build-nautilus
  nautilus/docker-compose.yml
Due: none

encode when necessary
  web/src/components/fileView/fileView.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix error generating graphs and adapt to new JSON
  web/src/__tests__/views/experiments/experimentCard.test.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/domain/experiments/Experiment.ts
  web/src/testData.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Update the Nautilus doc
  .gitlab/.base-gitlab-ci-docker-build.yml
  docs/content/80-on-prem/0-README.md
  nautilus/assets/mlreef-wrapper
Due: pages, test rest docs are present

#302 Simplify CI
  .gitlab-ci.yml
  .gitlab/.gitlab-ci-base-docker-build.yml
  backend/.gitlab-ci.yml
  backend/bin/ci-build-backend
  bin/aws-cli
  bin/build-backend
  bin/build-run-nautilus
  bin/ci-deploy
  bin/ci-provision
  bin/ci-tests/ci-test-complete-ci-pipeline
  bin/ci-tests/ci-test-pages
  bin/ci-tests/ci-test-smoke-tests
  bin/includes/ci-detect-ssh-keyfile
  bin/includes/ci-environment
  bin/includes/ci-instance-info
  bin/resources/ec2-startup
  bin/resources/feature-branch-block-device-mappings.json
  docs/bin/ci-pages
  docs/bin/ci-pages-cleanup
  epf/.gitlab-ci.yml
  epf/bin/ci-build-epf
  k8s/includes/ci-environment
  nautilus/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#302 Fix nautilus run-script after MR-1069 push
  bin/build-run-nautilus
Due: none

#925 Tutorials welcome page
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/components/RegisterView/RegisterLandingView.jsx
  web/src/components/RegisterView/RegisterView.scss
  web/src/components/commons/Tutorial/Tutorial.jsx
  web/src/components/commons/Tutorial/data.json
  web/src/components/commons/Tutorial/index.js
  web/src/store/actionTypes.js
  web/src/store/actions/tutorialActions.js
  web/src/store/reducers/tutorialReducer.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

fix frontend build
  web/.gitlab-ci.yml
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Nautilus EPF env variables and nginx conf fix
  Dockerfile
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
Due: none

Add cleanup for nautilus images
  .gitlab-ci.yml
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Feature/956 fix ui tests
  Dockerfile
  web/src/__tests__/NewMergeReq.test.jsx
  web/src/__tests__/commmitDetails.test.jsx
  web/src/__tests__/insightJobLog.test.jsx
  web/src/__tests__/newBranch.test.jsx
  web/src/__tests__/views/FileCreation.test.jsx
  web/src/__tests__/views/SettingsView/SettingsView.test.jsx
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/components/CommitList.jsx
  web/src/components/commits-details/actionsAndFunctions.js
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/ui/MScrollableSection/MScrollableSection.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/NewBranch/NewBranch.jsx
  web/src/components/views/NewBranch/actions.js
  web/src/setupTests.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

fetch selected project in router if necessary
  web/src/customHooks/useSelectedProject.js
  web/src/router/PrivateRoute.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

846 multiple command in pipeline
  .gitlab-ci.yml
  .gitlab/.gitlab-ci-base-docker-build.yml
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/EpfController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ProjectDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/application-docker.yml
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  bin/includes/ci-environment
  bin/install
  bin/setup-local-environment
  images/experiment/.gitignore
  images/experiment/.gitlab-ci.yml
  images/experiment/Dockerfile
  images/experiment/LICENSE
  images/experiment/README.md
  images/experiment/bin/ci-build-experiment
  images/experiment/src/bin/background-push
  images/experiment/src/bin/epf-finish
  k8s/includes/ci-environment
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add most basic of the online file editor
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/FileEditor/FileCreation.test.jsx
  web/src/__tests__/views/FileEditor/FileEdition.test.jsx
  web/src/apis/CommitsApi.ts
  web/src/components/fileView/fileView.jsx
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/FileCreation/actions.js
  web/src/components/views/FileCreation/index.js
  web/src/components/views/FileEditor/FileEditor.jsx
  web/src/components/views/FileEditor/FileEditor.scss
  web/src/components/views/FileEditor/actions.js
  web/src/components/views/FileEditor/fileConstants.js
  web/src/components/views/FileEditor/index.js
  web/src/routes.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#927 local project creation
  k8s/gitlab-deployment
  k8s/includes/gitlab-settings
Due: none

Push EPF images to mlreef gitlab
  .gitlab-ci.yml
  bin/install
  k8s/gitlab-post-deployment
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
