Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy_review:
  stage: deploy
  image:
    name: registry.gitlab.com/mlreef/devops/k8s-images/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.$KUBE_INGRESS_BASE_DOMAIN
    on_stop: stop_review
  script:
  - bin/k8s-review-deploy
  ...

post-deploy:
  stage: post-deploy
  image: docker:19.03.12
  services:
  - name: docker:19.03.12-dind
    entrypoint:
    - sh
    - -c
    - dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DAEMON_OPTIONS: --insecure-registry=0.0.0.0/0
  script:
  ...

clean rest docs folder:
  stage: maintenance
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: 'chmod +x docs/bin/ci-pages-cleanup
  
    docs/bin/ci-pages-cleanup
  
    '

pages:
  image: node:14.16.1-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 5 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

New email template
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/resources/templates/html/welcome.html
  backend/mlreef-rest/src/main/resources/templates/text/welcome.txt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

fix mlreef initial data loader
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

make load operation skippable
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/processors/DataSetup.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/fork issues
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/annotations/RefreshUserInformation.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ReserveredNamesController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/SessionsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/NamespaceDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/aspects/RefreshUserTokenAspect.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/UserResolverService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/system/ReservedNamesService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceUnitTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/ProjectServiceForkingTest.kt
  backend/mlreef-system-test/build.gradle
  backend/settings.gradle
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Change pipeline retry to 0 from 2
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix a bug when person was saving with incorrect slug
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

add timeout
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

add conditional for processor arrays that do not have a publication in master
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/actionsAndFunction.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/missed fields on forking
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/aspects/RefreshProjectAspect.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Feature/remove processor prefix
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ProcessorDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/CodeProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/QueryBuilder.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add 2 new fields to '/search' endpoint: own and participate
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/resources/application-integration-test.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1000 fix container issues
  web/src/__tests__/AuthWrapper.test.jsx
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/__tests__/views/__snapshots__/profileSection.test.jsx.snap
  web/src/__tests__/views/profileSection.test.jsx
  web/src/components/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRow.jsx
  web/src/components/experiments-overview/ExperimentsView.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/projectContainer.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/CommitsView/CommitView.jsx
  web/src/components/views/DataVisualization/dataVisualizationCard.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/DataVisualization/dataVisualizationOverview.jsx
  web/src/components/views/Datainstances/DataInstancesOverview.jsx
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
  web/src/components/views/ExperimentInsights/ExperimentInsights.jsx
  web/src/components/views/FileviewComp/Fileview.jsx
  web/src/components/views/MergeRequests/MergeRequestsOverview.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/NewBranch/NewBranch.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/SettingsView/SettingsView.jsx
  web/src/components/views/userSettings/ProfileSection.jsx
  web/src/domain/accessLevels.ts
  web/src/functions/helpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Bugfix/pipline string params in parathenses
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add new gitlab settings to be configurable
  bin/includes/gitlab-settings
  bin/install
  bin/k8s-review-deploy
  docker-compose.yml
  k8s/gitlab-deployment
  k8s/includes/gitlab-settings
  k8s/k8s-final-yml-deployment
  k8s/prepare-final-deployment-yml
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

remove encoding
  web/src/components/views/FileviewComp/Fileview.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Refactor code of commits list
  web/src/__tests__/CommitsList.test.jsx
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/components/commits-details/actionsAndFunctions.js
  web/src/components/imageDiffSection/ImageDiffSection.scss
  web/src/components/layout/CommitDiv/CommitDiv.jsx
  web/src/components/layout/CommitDiv/CommitDiv.scss
  web/src/components/layout/CommitsList/CommitList.jsx
  web/src/components/layout/CommitsList/CommitList.scss
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/views/CommitsView/CommitView.jsx
  web/src/components/views/CommitsView/CommitView.scss
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/testData.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix file viewer bug
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/components/DetailedProjectView/LastCommitSect.jsx
  web/src/components/views/FileviewComp/Fileview.jsx
  web/src/functions/dataParserHelpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Pipeline stuck issue fix
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  images/experiment/src/bin/background-push
  nautilus/assets/dynamic-env
  web/src/__tests__/views/DataVisualizations/__snapshots__/DataVisualizationsCard.test.jsx.snap
Due: compile backend, build backend, build frontend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Nautilus fixes: extra space
  nautilus/assets/dynamic-env
Due: none

make name and slug not mandatory
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/parser/PythonParser.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Nautilus job split
  k8s/gitlab-post-deployment
  nautilus/.gitlab-ci.yml
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Get publications information to elaborate an overview
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CodeProjectPublishingDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/Processor.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/processors/ProcessorsService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/db/migration/V55__981_ADD_PUBLICATION_INFORMATION.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/PublishingApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

fix projects list on backend side (but needs to be implemented on FE side as well)
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Enable name search in the Dashboard and Pipelines view
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/__tests__/views/DataVisualizations/DataVisualizationDetails.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/ProcessorFilters.test.jsx
  web/src/components/layout/Dashboard/DashboardV2.scss
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/ui/MGlobalMarker/MGlobalMarker.jsx
  web/src/components/views/DashboardExplore/DashboardExplore.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.jsx
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.scss
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/functionsAndConstants.js
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

update stupid route
  web/src/components/RegisterView/RegisterLandingView.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

modify route
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Adapt fe to new privacy filters
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/views/DashboardV2/DashboardV2.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Bug-1018: Unaccessible but explorable projects
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectNamespaceSlugEndpointsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Added 2 tests for correct pagination check. The first test is sync - we get...
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Nautilus doc update GPU part
  .gitlab-ci.yml
  docs/content/80-on-prem/0-README.md
Due: deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

A new endpoint for recent used projects
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/annotations/SaveRecentProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PipelineController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/aspects/ExpressionEvaluator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/aspects/SaveRecentProjectAspect.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/MessagingConfig.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/RecentProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/RecentProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/main/resources/db/migration/V56__1060_RECENT_PROJECTS.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/BaseTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Auto stop review env in 2 weeks
  .gitlab-ci.yml
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Make publishing for 1 branch only
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#746 & #1002 Let the user select branch for publishing and pipeline creation
  web/src/__tests__/views/PipelinesExecutionView/DataOperatorCodeSection.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/ProcessorFilters.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/pipeLineExecutionModal.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/processorsList.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/testData.js
  web/src/__tests__/views/PublishingProcess/PublishingView.test.jsx
  web/src/__tests__/views/PublishingProcess/testData.json
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesProvider.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/actions.js
  web/src/components/views/PipelinesExecutionView/ExecuteButton.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/DataOperatorCodeSection.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/actionsAndFunction.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/publishingActions.js
  web/src/functions/pipeLinesHelpers.js
  web/src/functions/validations.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix navbar links
  web/src/components/navbar/navbar.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Replace info and fix issues
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

get code project per data operation
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Increase testing in the pipelines view
  web/src/__tests__/views/Dashboard/dashboardActions.test.js
  web/src/__tests__/views/PipelinesExecutionView/ExecuteButton.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/FunctionalPipelinesCreationView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/ProcessorFilters.test.jsx
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/setupTests.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

deprecate the old ExploreView and its tests
  web/src/__tests__/views/ExploreView/ExploreView.test.jsx
  web/src/__tests__/views/ExploreView/ExploreViewProjectSet.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/components/views/ExploreView/ExploreView.scss
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/components/views/ExploreView/README.md
  web/src/components/views/ExploreView/index.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix problems with long names
  web/src/components/layout/FilesSelector/FilesSelector.jsx
  web/src/components/views/FileviewComp/Fileview.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
