Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

Add new backend env variables
  bin/ci-deploy
  bin/k8s-review-deploy
  docker-compose.yml
  k8s/apps/kube-deployment.yml
  k8s/prepare-final-deployment-yml
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

feat: 1090-automatically-filter-data-operations-in-pipeline-view-based-on-data-types
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

feat: 1083-avatar-and-username-issue
  web/src/components/views/DetailedProjectView/LastCommitSect.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Update README.md
  Dashboard_MLReef.gif
  README.md
Due: clean rest docs folder, pages, test rest docs are present

Fork history
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/MarketplaceEntryDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ProjectDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/CodeProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/DataProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/Project.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/resources/db/migration/V57__1064-FORKING-HISTORY.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/ProjectServiceForkingTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

feat: 1090-automatically-filter-data-operations-in-pipeline-view-based-on-data-types
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Create MR template
  .gitlab/merge_request_templates/.gitkeep
  .gitlab/merge_request_templates/merge_request_template.md
Due: none

Update merge_request_template.md
  .gitlab/merge_request_templates/merge_request_template.md
Due: none

feat: 1096-fail-to-load-publication-list-of-code-repos
  web/src/components/views/Publications/PublicationActionsAndFunctions.js
  web/src/components/views/Publications/Publications.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

feat: 1098-search-function-of-pdf-in-the-repo-file-2
  web/package-lock.json
  web/package.json
  web/src/components/layout/PDFViewer/index.jsx
  web/src/components/views/FileviewComp/Fileview.jsx
  web/src/index.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Adapt tutorials
  web/public/tutorials/1/details.png
  web/public/tutorials/1/parameters.PNG
  web/public/tutorials/1/parameters.gif
  web/public/tutorials/1/projects.JPG
  web/public/tutorials/1/repositories.JPG
  web/public/tutorials/1/running_experiment.png
  web/public/tutorials/1/select_model.PNG
  web/public/tutorials/1/select_model.gif
  web/public/tutorials/2/dataops.png
  web/src/components/commons/Tutorial/data.json
  web/src/components/views/userProfile/userProfile.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

1103: Fix Dashboard gets looped when asking for same request twice
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Revert "Merge branch '1103-fix-dashboard-loop' into 'master'"
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Update background-push add sentinelhub credentials
  images/experiment/src/bin/background-push
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix link published
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Resolve "Include a tutorial during registration"
  web/package-lock.json
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/ui/MButton/MButton.scss
  web/src/components/ui/MInput/MInput.css
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/ui/MRadio/MRadio.scss
  web/src/components/ui/MRadio/MRadioGroup.scss
  web/src/components/ui/MSimpleSelect/MSimpleSelect.css
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/Publications/PublicationInfoRow.jsx
  web/src/components/views/RegisterView/RegisterLandingView.jsx
  web/src/components/views/RegisterView/RegisterView.jsx
  web/src/components/views/RegisterView/RegisterView.scss
  web/src/components/views/RegisterView/RegisterViewForm.jsx
  web/src/components/views/RegisterView/RegisterViewRoleForm.jsx
  web/src/components/views/RegisterView/formInformation.js
  web/src/components/views/TutorialView/TutorialView.jsx
  web/src/components/views/TutorialView/TutorialView.scss
  web/src/components/views/TutorialView/index.js
  web/src/images/github-icon.png
  web/src/images/gitlab-icon.png
  web/src/images/google-icon.png
  web/src/images/linkedin-icon.png
  web/src/images/tutorials/1.png
  web/src/images/tutorials/2.png
  web/src/images/tutorials/3.png
  web/src/images/tutorials/4.png
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Starred by user search param was add
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/utils/QueryBuilder.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Hot fix for tests to pass.
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/__tests__/views/BranchesView/branchesView.test.jsx
  web/src/__tests__/views/PasswordManagement/__snapshots__/ResetPasswordView.test.jsx.snap
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

starred by me field
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Resolve "Include a tutorial during registration"
  web/src/apis/MLAuthApi.ts
  web/src/components/OAuth/OAuth.jsx
  web/src/components/OAuth/OAuth.scss
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/components/views/RegisterView/RegisterView.scss
  web/src/components/views/RegisterView/RegisterViewForm.jsx
  web/src/components/views/login/login.css
  web/src/components/views/login/login.jsx
  web/src/routes.js
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Resolve "Create AI Library section"
  web/src/__tests__/RegisterLandingView.test.jsx
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/__tests__/views/DataInstances/DataInstanceDetails.test.jsx
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/apis/MLSearchApi.ts
  web/src/components/layout/Dashboard/NewMLProject.jsx
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/navbar-legacy/navbar-legacy.jsx
  web/src/components/navbar-legacy/navbar-legacy.scss
  web/src/components/views/DashboardExplore/DashboardExplore.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/RegisterView/RegisterLandingView.jsx
  web/src/components/views/login/login.css
  web/src/dataTypes.js
  web/src/images/navbar-options/AI_Lib_b.png
  web/src/images/navbar-options/AI_Lib_w.png
  web/src/images/navbar-options/Home_b.png
  web/src/images/navbar-options/Home_w.png
  web/src/images/navbar-options/ML-Projects_b.png
  web/src/images/navbar-options/ML-Projects_w.png
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Change Models to Algorithms nomenclature
  README.md
  backend/mlreef-rest/src/main/resources/db/data/V7_create_code_projects.json
  docs/content/0-README.md
  docs/content/0-general/0-concepts/0-README.md
  docs/content/0-general/0-concepts/0-mlops/0-README.md
  docs/content/0-general/1-repositories/0-README.md
  docs/content/0-general/1-repositories/2-models.md
  docs/content/1-data_pipelines/0-README.md
  docs/content/2-experiments/0-README.md
  docs/content/2-experiments/1-model_output.md
  docs/content/4-code-projects/0-README.md
  docs/content/5-early_access_guide.md
  epf/src/README.md
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/__tests__/customHooks/useHashNavigation.test.js
  web/src/__tests__/views/PublishingProcess/PublishingViewPublishModel.test.jsx
  web/src/components/CodeDiffSection/codeDiffSection.jsx
  web/src/components/commons/ExperimentTable/stories/experimentsDemo.json
  web/src/components/commons/Tutorial/data.json
  web/src/components/layout/DataCard/DataCard.scss
  web/src/components/navbar/navbar.jsx
  web/src/components/views/PipelinesExecutionView/dataModel.js
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/RegisterView/RegisterLandingView.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
  web/src/dataTypes.js
  web/src/functions/pipeLinesHelpers.js
Due: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Change names to modules
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1110 Add sorting to experiments
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add ee directory
  ee/.gitkeep
  ee/LICENSE
Due: none

Fix order in buttons
  web/src/components/repoFeatures.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Skip tests
  web/src/__tests__/RegisterLandingView.test.jsx
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/createProject.test.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix eslint and routes
  web/package-lock.json
  web/package.json
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Clean linter warnings
  web/src/components/projectContainer.jsx
  web/src/components/views/CreateProject/createProject.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/ExperimentDetails/MenuOptions/DetailSummary.jsx
  web/src/components/views/Publications/PublicationInfoRow.jsx
  web/src/components/views/userProfile/userProfile.jsx
  web/src/domain/Publications/metaData.ts
  web/src/functions/apiCalls.js
  web/src/store/reducers/initialState.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix: Error building Nautilus
  Dockerfile
Due: none

#1117 Help links in project
  web/.eslintrc.js
  web/public/images/code_project.png
  web/public/images/ml_project.png
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/components/views/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/CodeProjectContent.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/MLProjectContent.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.scss
  web/src/components/views/DetailedProjectView/ProjectHelp/index.js
  web/src/store/reducers/initialState.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix a bug with account table for has_newsletter can be nullable
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/Account.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#1128 error entering projects
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/dataTypes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Clean linter warnings
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/ui/MBricksWall/MBricksWall.jsx
  web/src/components/ui/ReadMe/ReadMe.jsx
  web/src/components/views/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/views/MergeRequests/MergeRequestsOverview.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/RegisterView/RegisterView.jsx
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1132 Continue project help
  web/src/__tests__/views/DetailedProjectView/EmptyProject.test.jsx
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
  web/src/components/layout/EmptyProject/EmptyProject.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/views/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/CodeProjectContent.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.jsx
  web/src/components/views/DetailedProjectView/ProjectHelp/ProjectHelp.scss
  web/src/styles/modules/_modal.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Minor wording changes
  web/src/components/commons/Tutorial/data.json
  web/src/components/layout/Dashboard/NewMLProject.jsx
  web/src/components/layout/Dashboard/ProjectsDropDown.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/ExperimentInsights/InsightMenu/jobs.jsx
  web/src/components/views/FileEditor/FileEditor.jsx
  web/src/components/views/FileEditor/fileConstants.js
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
  web/src/components/views/RegisterView/RegisterLandingView.jsx
  web/src/components/views/TutorialView/TutorialView.jsx
  web/src/dataTypes.js
  web/src/images/tutorials/1.png
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix errors with file saving
  backend/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/AuthController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Feature/mlreef local deploy script
  bin/install
  deploy_local.sh
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1126 Enhance new project new
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/ui/MImageUpload/MImageUpload.jsx
  web/src/components/ui/MImageUpload/MImageUpload.scss
  web/src/components/ui/MImageUpload/MImageUpload.stories.jsx
  web/src/components/ui/MImageUpload/index.js
  web/src/components/ui/MRichCheckButton/MRichCheckButton.jsx
  web/src/components/ui/MRichCheckButton/MRichCheckButton.scss
  web/src/components/ui/MRichCheckButton/MRichCheckButton.stories.jsx
  web/src/components/ui/MRichCheckButton/index.js
  web/src/components/ui/MRichRadioGroup/MRichRadioGroup.jsx
  web/src/components/ui/MRichRadioGroup/MRichRadioGroup.scss
  web/src/components/ui/MRichRadioGroup/MRichRadioGroup.stories.jsx
  web/src/components/ui/MRichRadioGroup/index.js
  web/src/components/views/CreateGroup/createGroup.jsx
  web/src/components/views/CreateProject/createProject.jsx
  web/src/dataTypes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests
