Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy_review:
  stage: deploy
  image:
    name: registry.gitlab.com/mlreef/devops/k8s-images/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.$KUBE_INGRESS_BASE_DOMAIN
    on_stop: stop_review
  script:
  - kubectl version
  ...

clean rest docs folder:
  stage: maintenance
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: 'chmod +x docs/bin/ci-pages-cleanup
  
    docs/bin/ci-pages-cleanup
  
    '

pages:
  image: node:10.19.0-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 5 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

end2end tests:
  stage: test
  needs:
  - deploy_review
  image: node:10.19.0-alpine
  allow_failure: true
  script: web/bin/ci-run-end2end-tests

Create a custom import for Monaco
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
  web/src/customImports/MonacoEditor.jsx
  web/src/index.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Doc tabular data readme
  web/src/components/commons/TabularData/README.md
  web/src/components/ui/MChart/README.md
  web/src/components/ui/MDataTable/README.md
  web/src/customHooks/charts.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update background-push
  images/experiment/src/bin/background-push
Due: none

Add steps to simple tabs
  web/src/components/ui/MSimpleTabs/MSimpleTabs.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabs.scss
  web/src/components/ui/MSimpleTabs/MSimpleTabs.stories.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabsRouted.stories.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Increasing gitlab opt space on master : ci skip
  k8s/prepare_final_deployment_yml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

fix glitch
  web/src/components/FileviewComp/Fileview.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

open the error payload
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Experiment can be viewed by visitors if project is public
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

remove /slug/part of a url to fix not found exception
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/commons/TabularData/TabularDataFeeder.jsx
  web/src/components/views/ForkView/ForkProgressView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Change Epic template to new Tech-Lead
  .gitlab/issue_templates/Epic.md
Due: none

Fix/987 fix backgroundpush
  backend/.gitlab-ci.yml
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  images/experiment/Dockerfile
  images/experiment/src/bin/background-push
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#975 fix delete branch modal
  web/src/components/branches-list-view/deleteBranchModal.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

add rules to redirect non authenticated users to requered route
  web/nginx_default.conf
  web/src/components/login/login.jsx
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Change star icon in the data processor
  web/public/images/svg/unstar.svg
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/images/star-01.png
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add gpu node support for gitlab runner kubernetes executor
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  epf/Dockerfile
  images/experiment/Dockerfile
  k8s/apps/gitlab-runner-configmap.yml
  k8s/apps/kube-deployment.yml
Due: compile backend, build backend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#927 enable gpu in aws script+bugfix background-push
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/install
  bin/resources/runner-config.k8s-template.toml
  docker-compose.yml
  k8s/apps/gitlab-runner-configmap.yml
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Replace request uri with / to avoid unnecessary rerouting
  web/nginx_default.conf
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix error with yaml generator
  backend/.gitlab-ci.yml
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/MlReefSecurityExpressionRoot.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Route tabs properly in the publishing view
  web/src/__tests__/views/PublishingProcess/SelectBaseEnv.test.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/SelectBaseEnv/SelectBaseEnv.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Revert "comment rather"
  .gitlab-ci.yml
  web/src/__end2end-tests__/CodePublishing.test.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add helper image same as k8s local-docker
  bin/install
  bin/k8s-review-deploy
  k8s/k8s_final_yml_deployment
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

fix scope
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix/remove deprecated comp, refactor code
  web/src/components/project-nav/projectNav.css
  web/src/components/project-nav/projectNav.jsx
  web/src/components/projectContainer.jsx
  web/src/components/views/Publications/Publications.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add sorting options to the Dashboard
  web/src/__tests__/integrationTests/projectActions.test.js
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/apis/MLSearchApi.ts
  web/src/apis/SearchApi.js
  web/src/apis/apiHelpers.js
  web/src/components/myProjects/myProjects.jsx
  web/src/components/myProjects/myProjects.scss
  web/src/components/navbar/navbar.jsx
  web/src/components/projectSet.jsx
  web/src/components/ui/MBricksWall/MBricksWall.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/routes.js
  web/src/store/actionTypes.js
  web/src/store/actions/projectInfoActions.js
  web/src/store/reducers/initialState.js
  web/src/store/reducers/projectReducer.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Handle killall gracefully
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Resizing issue add testing
  web/src/__tests__/branchesView.test.jsx
  web/src/__tests__/myProjects/myProjects.test.jsx
  web/src/components/myProjects/myProjects.scss
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Disable space optimization to fix chrome issue
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

remove command call to avoid unnecessary process
  web/package.json
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Remove obsolete scripts
  bin/docker-purge.sh
  bin/newman
  bin/setup-backend-developer-environment
  bin/setup-epf-developer-environment
  bin/setup-frontend-developer-environment
  bin/setup-local-environment
Due: none

Improve documentation spelling
  CONTRIBUTE.md
  README.md
  docs/content/80-on-prem/0-README.md
Due: clean rest docs folder, pages, test rest docs are present

add options in checkboxes, refactor code
  web/public/images/svg/PipelineStep01.svg
  web/src/__tests__/myProjects/myProjects.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/__tests__/views/PipelinesExecutionView/ProcessorFilters.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/processorsList.test.jsx
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/arrow-button/arrowButton.jsx
  web/src/components/input/input.css
  web/src/components/layout/FilesSelector/FilesSelector.jsx
  web/src/components/layout/FilesSelector/FilesSelector.scss
  web/src/components/ui/MCheckBoxGroup/MCheckBoxGroup.jsx
  web/src/components/ui/MCheckBoxGroup/MCheckBoxGroup.scss
  web/src/components/ui/MTooltip/MTooltip.scss
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesProvider.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/actions.js
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.jsx
  web/src/components/views/PipelinesExecutionView/ProcessorFilters/ProcessorFilters.scss
  web/src/components/views/PipelinesExecutionView/SelectComp/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/SelectComp/SelectComp.scss
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/customHooks/useMount.js
  web/src/functions/helpers.js
  web/src/images/PipelineStep01.svg
  web/src/store/actions/projectInfoActions.js
  web/src/styles/modules/_general.scss
  web/src/testData.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Transform to lower case the username
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/RegisterView/RegisterViewForm.jsx
  web/src/components/login/login.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

let the user to add operations by doubleclicking on them, disable limit in the UI to add models
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Move packages installation from job to base image
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  bin/build-export-nautilus-offline
  bin/build-run-nautilus-offline
  docs/content/80-on-prem/1-README.md
  epf/Dockerfile
  nautilus/assets/dynamic-env
  nautilus/assets/mlreef-wrapper
  nautilus/assets/offline-setup
Due: compile backend, build backend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Do not run deploy for docu branches
  .gitlab-ci.yml
  bin/build-run-nautilus-offline
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#694 Add Real Time comm to jobs
  web/package-lock.json
  web/package.json
  web/src/__tests__/JobLog.test.jsx
  web/src/components/ExperimentDetails/ExperimentDetail.jsx
  web/src/components/ExperimentDetails/MenuOptions/jobLog.jsx
  web/src/components/ExperimentDetails/MenuOptions/jobLog.scss
  web/src/components/commons/JobLog/JobLog.jsx
  web/src/components/commons/JobLog/JobLog.scss
  web/src/components/commons/JobLog/index.js
  web/src/components/insights/insights-menu/jobLogById.jsx
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/insights/insights.jsx
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix tutorial button
  web/src/components/commons/Tutorial/Tutorial.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Support pipelines to read local images
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  nautilus/assets/mlreef-wrapper
  nautilus/assets/offline-setup
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
