Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, postman test suite, e2e test experiment

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

postman test suite:
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-newman
  cache:
    key: newman
    paths:
    - node_modules/.bin/
  script: bin/ci-postman-tests

e2e test experiment:
  allow_failure: true
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest
  script: bin/ci-test-end2end-experiment

Hotfix: Update routes errors related to project
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/experiments/experimentCancellationModal.test.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiments-overview/experimentsOverview.jsx
  web/src/components/projectContainer.jsx
  web/src/components/repoFeatures.jsx
  web/src/routerComp.jsx
Due: build frontend

Increase script resilience against errors
  backend/bin/ci-integration-test-backend
  backend/bin/ci-unit-test-backend
  bin/ci-backup
  bin/ci-deploy
  bin/ci-instance-info
  bin/ci-postman-tests
  bin/ci-provision
  bin/ci-restore
  bin/ci-test-end2end-experiment
  bin/ci-tests/ci-test-compile-backend
  bin/ci-tests/ci-test-complete-ci-pipeline
  bin/ci-tests/ci-test-pages
  bin/ci-tests/ci-test-smoke-tests
  bin/includes/ci-environment
  bin/includes/ci-instance-info
  bin/includes/ci-test-base
  bin/includes/detect-docker-runtime
  bin/includes/detect-os
  bin/includes/docker-registry-login
  bin/includes/gitlab-health
  bin/includes/install-parse-cli-params
  bin/includes/install-render-docker-compose
  bin/includes/install-render-local-env
  bin/includes/log
  bin/includes/test-environment
  bin/install
  bin/jq
  bin/resources/runner-config.template.toml
  bin/setup-local-environment
  bin/tests/test-bash-variable-expansion
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Rotate SSH keys
  bin/includes/ci-environment
  bin/tests/test-create-user-and-project
  bin/tests/test-delete-project
  bin/tests/test-pipeline-in-gitlab
  bin/tests/test-start-experiment
  bin/tests/test-upload-files
  bin/tests/test-verify-mlreef-yml
Due: none

Move rendering of docker-compose.local.yml
  bin/ci-deploy
  bin/includes/install-parse-cli-params
  bin/includes/install-render-docker-compose
  bin/install
  bin/setup-local-environment
Due: none

Feature/fix datainstance names
  docs/content/5-early_access_guide.md
  web/src/components/Demo.jsx
  web/src/components/DropDown.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-instances-delete-and-abort-modal/dataInstancesDeleteNAbortModal.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
Due: build frontend

Prefilled info in SettingsView is dynamic
  web/src/components/RegisterView/RegisterViewRoleForm.jsx
  web/src/components/views/userSettings/ProfileSection.jsx
  web/src/components/views/userSettings/UserAccount.jsx
Due: build frontend

Fix merging process not working (merge request)
  web/src/__tests__/mergeRequestOverview.test.jsx
  web/src/apis/CommitsApi.js
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/imageDiffSection/imageDiffSection.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
Due: build frontend

Fix gitlab oauth token
  web/src/apis/CommitsApi.js
  web/src/apis/PipelinesApi.js
  web/src/apis/SearchApi.js
  web/src/apis/apiHelpers.js
  web/src/apis/mergeRequestApi.js
Due: build frontend

607 pipelines fail from wrong external url
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/includes/ci-environment
  bin/includes/ci-instance-info
  bin/includes/install-render-local-env
  bin/jq
  bin/newman
  bin/resources/ec2-startup
  bin/setup-local-environment
  bin/tests/test-create-user-and-project
  out/.gitkeep
  web/bin/npm
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

614 Add clean up for unused docker images and volumes on AWS
  bin/includes/install-cleanup-docker
  bin/install
  docker-compose.yml
Due: none

500 Password reset - add noreply variables to the install
  bin/ci-deploy
  bin/includes/install-parse-cli-params
  bin/includes/install-render-local-env
Due: none

Fix local setup bugs
  .gitlab-ci.yml
  bin/includes/ci-environment
Due: none

Improve styling in the file view by using monaco editor
  web/src/__tests__/fileView.fix
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/fileView/fileView.css
  web/src/components/fileView/fileView.jsx
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
Due: build frontend

Update information from Gitlab and add tests
  web/package.json
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/PipelinesExecutionView.test.jsx
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/actions/actionTypes.js
  web/src/actions/processorActions.js
  web/src/actions/userActions.js
  web/src/apis/CommitsApi.js
  web/src/apis/CommitsApi.ts
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/experiments-overview/experimentsOverview.jsx
  web/src/components/ui/MModal/MModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/reducers/initialState.js
  web/src/reducers/userReducer.js
  web/src/routerComp.jsx
  web/src/testData.js
Due: build frontend

Fix handle response with empty content
  web/src/__tests__/views/SettingsView/SettingsViewGeneral.test.jsx
  web/src/__tests__/views/SettingsView/SettingsViewGeneralAdvanced.test.jsx
  web/src/__tests__/views/SettingsView/SettingsViewGeneralAdvancedDeleteProject.test.jsx
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneral.test.jsx.snap
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneralAdvancedDeleteProject.test.jsx.snap
  web/src/actions/projectInfoActions.js
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/layout/MActionModal/MActionModal.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/components/project-deletion-modal/projectDeletionModal.css
  web/src/components/project-deletion-modal/projectDeletionModal.jsx
  web/src/components/ui/MAccordion/MAccordionItem.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvanced.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvanced.scss
  web/src/components/views/SettingsView/SettingsViewGeneralAdvancedDeleteProject.jsx
  web/src/functions/apiCalls.js
Due: build frontend

Create instances
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/components/changes-mr-section/ChangesMrSection.jsx
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/projectView/projectLastCommitSect.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/functions/apiCalls.js
Due: build frontend

User docs
  docs/content/0-general/0-README.md
  docs/content/1-data_pipelines/0-README.md
  docs/content/2-experiments/0-README.md
  docs/content/3-use_cases/0-README.md
Due: none

626 data populator dsl
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/.run/RestApplication DOCKER.run.xml
  backend/bin/ci-unit-test-backend
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataAlgorithm.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataOperation.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataVisualization.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/CodeProjectBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DataProcessorBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DataProjectBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/SearchableTagBuilder.kt
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/DataPopulatorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Check name for new project
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneral.test.jsx.snap
  web/src/apis/SearchApi.js
  web/src/components/ui/MInput/MInput.css
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/views/create-project/createProject.css
  web/src/components/views/create-project/createProject.jsx
Due: build frontend

Add continuous delivery to prod
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  bin/ci-deploy
  bin/includes/ci-environment
  docker-compose.yml
  epf/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: compile backend, build backend, build frontend, build epf, backend integration tests, postman test suite, e2e test experiment

Increase memory for node
  web/Dockerfile
Due: build frontend

Fix headers in commitsApi
  web/src/apis/CommitsApi.ts
Due: build frontend

641 replacing routes
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/__tests__/mergeRequestOverview.test.jsx
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/projectContainer.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/routerComp.jsx
  web/src/testData.js
Due: build frontend

Create UI for reset password
  web/src/__tests__/views/PasswordManagement/ResetPasswordView.test.jsx
  web/src/__tests__/views/PasswordManagement/__snapshots__/ResetPasswordView.test.jsx.snap
  web/src/apis/PasswordManagementApi.ts
  web/src/components/login/login.css
  web/src/components/login/login.jsx
  web/src/components/views/ResetPassword/CheckEmailView.jsx
  web/src/components/views/ResetPassword/ResetPassword.scss
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
  web/src/routerComp.jsx
Due: build frontend

Link to resnet repo and remove buttons from code repos
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/repoFeatures.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend

Create EPF Bot for each Project and set Project Variables
  .gitlab-ci.yml
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsPipelineConfigsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabGroupInProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabUser.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabUserInGroup.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabUserInProject.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GroupVariable.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/SharedGroup.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/enums.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/groups/GitlabGroupsService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/resources/application-spring-context-test.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/marketplace/MarketplaceServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/GroupsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  docs/.gitlab-ci.yml
  docs/bin/ci-pages
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Parse information properly
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
Due: build frontend

Add training data to experiment test
  .gitlab-ci.yml
  backend/mlreef-rest/src/main/resources/application-docker.yml
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/ci-deploy
  bin/ci-test-end2end-experiment
  bin/includes/install-render-local-env
  bin/resources/training-foto.png
  bin/setup-local-environment
  bin/tests/test-create-user-and-project
  bin/tests/test-delete-project
  bin/tests/test-pipeline-in-gitlab
  bin/tests/test-start-experiment
  bin/tests/test-upload-files
  bin/tests/test-verify-mlreef-yml
  epf/src/bin/background-push
  epf/src/bin/epf-finish
  epf/src/model/resnet50.py
Due: compile backend, build backend, build epf, backend integration tests, postman test suite, e2e test experiment

Fix errors uploading files
  web/src/apis/CommitsApi.ts
  web/src/functions/dataParserHelpers.js
Due: build frontend

Fix error in route after creating experiment
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/routerComp.jsx
Due: build frontend

Add tabindex to make link not tabbable
  web/src/components/login/login.jsx
Due: build frontend

Improve readability for EPF background logging
  epf/src/bin/background-push
Due: build epf

closes #597: add description of almost all processors.
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

633 Backend docs public to the main repo
  .gitlab-ci.yml
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/resources/application-test.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceContextTest.kt
  bin/includes/ci-environment
  docs/.gitlab-ci.yml
  docs/bin/ci-pages
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Add readme styles in accordance with gitlab
  web/src/__tests__/ReadMe.test.jsx
  web/src/__tests__/__snapshots__/ReadMe.test.jsx.snap
  web/src/components/ReadMe/ReadMe.jsx
  web/src/components/ReadMe/Readme.scss
  web/src/components/projectView/projectView.jsx
  web/src/components/readMe/readme.css
  web/src/styles/_reset.scss
Due: build frontend

664 - Fix debug tokens
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, postman test suite, e2e test experiment

Add functionality to delete experiments
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  web/src/__tests__/views/experiments/ExperimentDeletionModal.test.jsx
  web/src/apis/GitlabPipelinesApi.ts
  web/src/apis/experimentApi.ts
  web/src/components/experiments-overview/DeletionModal/DeleteExperimentModal.jsx
  web/src/components/experiments-overview/DeletionModal/DeleteModal.scss
  web/src/components/experiments-overview/DeletionModal/index.js
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
  web/src/functions/apiCalls.js
Due: compile backend, build backend, build frontend, backend integration tests, postman test suite, e2e test experiment

Add close and reopen functionalities to merge request
  web/src/__tests__/mergeRequestOverview.test.jsx
  web/src/__tests__/views/BasicMergeRequestView/BasicMergeRequestView.test.jsx
  web/src/actions/actionTypes.js
  web/src/actions/mergeActions.js
  web/src/apis/mergeRequestApi.js
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoInfo.jsx
  web/src/functions/dataParserHelpers.js
  web/src/reducers/initialState.js
  web/src/reducers/mergeReducer.js
Due: build frontend

Merge Request committing changes described in Final Go-life check #671
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/__tests__/insightJobLog.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/__tests__/views/uploadFiles/userAccount.test.jsx
  web/src/components/Demo.jsx
  web/src/components/RegisterView/RegisterView.scss
  web/src/components/RegisterView/RegisterViewRoleForm.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/insights/insights-menu/jobs.scss
  web/src/components/insights/insights.jsx
  web/src/components/login/login.jsx
  web/src/components/projectContainer.jsx
  web/src/components/projectView/emptyProject.jsx
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MParagraph/MParagraph.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MSimpleTabs/MSimpleTabs.scss
  web/src/components/ui/MWrapper/MWrapper.jsx
  web/src/components/ui/MWrapper/MWrapper.scss
  web/src/components/ui/MWrapper/README.md
  web/src/components/ui/MWrapper/index.js
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/SettingsView/SettingsView.scss
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
  web/src/components/views/userSettings/Profile.scss
  web/src/components/views/userSettings/UserAccount.jsx
  web/src/images/MLReef_Icon_POS_ALPHA-01.svg
  web/src/routerComp.jsx
  web/src/styles/_functions.scss
  web/src/styles/modules/_card.scss
  web/src/styles/modules/_helpers.scss
Due: build frontend

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*
