Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*

#743 backend skeleton for Publishing Process
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CodeProjectPublishingDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodePublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/PublishingServiceTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/AbstractSystemTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/E_Publishing_Data_Processor_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Feature #666: Prepare env var renaming
  .gitlab-ci.yml
  backend/.run/backend_mlreef-system-test [systemTest].run.xml
  backend/bin/ci-pipeline-test-backend.sh
  backend/bin/ci-system-test-backend.sh
  bin/ci-backup
  bin/ci-deploy
  bin/ci-postman-tests
  bin/ci-restore
  bin/includes/ci-environment
  bin/includes/gitlab-health
  bin/includes/install-parse-cli-params
  bin/includes/install-render-local-env
  bin/install
  bin/tests/test-minimal-system-test.sh
  bin/tests/test-pipeline-in-gitlab
  bin/tests/test-upload-files
  web/.env
  web/bin/ci-build-frontend
  web/src/apis/DataPipelineApi.ts
  web/src/apis/apiHelpers.js
  web/src/setupProxy.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

New router implementation
  web/src/components/navbar/navbar.jsx
  web/src/components/projectContainer.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/index.jsx
  web/src/router/Link.jsx
  web/src/router/PrivateRoute.js
  web/src/router/README.md
  web/src/router/Router.jsx
  web/src/router/functions.js
  web/src/router/index.js
  web/src/router/routeModel.js
  web/src/router/useHistory.js
  web/src/routerComp.jsx
  web/src/routes.js
Due: build frontend, deploy

closes #762: Cleanup and refactor REST API
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/groups/GitlabGroupsService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/GroupsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectNamespaceSlugEndpointsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B2_DataProject_Permission_Test.kt
  web/src/apis/ProjectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Handle the empty log to not show unnecessary errors
  web/src/components/experiment-details/menu-options/jobLog.jsx
Due: build frontend, deploy

Link data versions and Refactor FileLocation Type Enum
  .gitignore
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/FileLocation.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ExperimentsIntegrationTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/D_DataProject_Experiment_Test.kt
  web/src/apis/FilesApi.ts
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/fileView/fileView.jsx
  web/src/components/layout/DataCard/DataCard.jsx
  web/src/components/layout/DataCard/DataCard.scss
  web/src/components/projectView/projectLastCommitSect.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.scss
  web/src/components/views/DetailedRepositoryView/index.js
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/functions/apiCalls.js
  web/src/functions/pipeLinesHelpers.js
  web/src/routerComp.jsx
  web/src/routes.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add basic commit functionality to PublishingService
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CodeProjectPublishingDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/PublishingServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Handle wrong file format
  web/src/components/views/uploadFile/FileToUpload.ts
  web/src/components/views/uploadFile/uploadConstantsAndFunctions.js
  web/src/components/views/uploadFile/uploadFile.jsx
Due: build frontend, deploy

Fix render loop
  web/src/components/navbar/navbar.jsx
  web/src/index.jsx
Due: build frontend, deploy

Add double check to sortBricks
  web/src/components/ui/MBricksWall/MBricksWall.jsx
Due: build frontend, deploy

Basic setup for integration tests
  web/cypress/integration/login.spec.js
  web/cypress/integration/projectsCreation.spec.js
  web/cypress/support/commands.js
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/PasswordManagement/__snapshots__/ResetPasswordView.test.jsx.snap
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneralAdvancedDeleteProject.test.jsx.snap
  web/src/components/ui/MAccordion/MAccordionItem.jsx
  web/src/components/ui/MButton/MButton.jsx
  web/src/components/ui/MCheckBox/MCheckBox.jsx
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvanced.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvancedDeleteProject.jsx
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy

Update README.md
  README.md
Due: pages

Hotfix/fix update loop simpletabs (router issues)
  web/src/components/ui/MSimpleTabs/MSimpleTabsRouted.jsx
  web/src/index.jsx
Due: build frontend, deploy

Create UI for Groups Overview
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/__tests__/views/groupsOverview/GroupCard.test.jsx
  web/src/__tests__/views/groupsOverview/GroupProjects.test.jsx
  web/src/__tests__/views/groupsOverview/GroupView.test.jsx
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/components/views/MlreefGroups/GroupProjects.jsx
  web/src/components/views/MlreefGroups/GroupView.jsx
  web/src/components/views/MlreefGroups/GroupView.scss
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
  web/src/dataTypes.js
  web/src/images/Lock-01.svg
  web/src/images/public-01.svg
  web/src/routerComp.jsx
  web/src/testData.js
Due: build frontend, deploy

adding two visualizations
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/tests/requirements.txt
  epf/src/visualisation/scatterPlot.py
  epf/src/visualisation/wordcloud_square.py
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Make ci script executable
  .gitlab-ci.yml
  bin/includes/detect-os
  package-lock.json
  web/bin/ci-run-end2end-tests
  web/package-lock.json
  web/package.json
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/apis/ApiDirector.js
  web/src/apis/ApiDirector.ts
  web/src/apis/CodeProjectPublishing.js
  web/src/apis/CodeProjectPublishing.ts
  web/src/apis/DataPipelineApi.ts
  web/src/apis/ProjectGeneralInfoApi.js
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/apis/apiBuilders/ApiRequestCallBuilder.js
  web/src/apis/apiBuilders/BLApiRequestCallBuilder.js
  web/src/apis/apiBuilders/BasicImplFunctions.js
  web/src/apis/apiBuilders/Builder.js
  web/src/apis/apiBuilders/requestEnums.js
Due: build frontend, deploy

Make drag-n-drop zone more responsive and usable
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/images/plus_01.svg
  web/src/routes.js
Due: build frontend, deploy

There was a little incorrect code in token filter
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Create UI for publishing process (final)
  web/public/images/status/failed.svg
  web/public/images/status/passed.svg
  web/public/images/status/pending.svg
  web/public/images/status/running.svg
  web/public/images/status/warning.svg
  web/src/components/ui/MPipes/MPipes.jsx
  web/src/components/ui/MPipes/MPipes.scss
  web/src/components/ui/MPipes/index.js
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
  web/src/components/views/PublishProcessView/PublishProcessView.scss
  web/src/components/views/PublishProcessView/PublishProcessViewParameterList.jsx
  web/src/components/views/PublishProcessView/PublishProcessViewRequirementList.jsx
  web/src/components/views/PublishProcessView/checkParameterErrors.js
  web/src/components/views/PublishProcessView/index.js
  web/src/components/views/PublishProcessView/info.js
  web/src/routerComp.jsx
  web/src/routes.js
Due: build frontend, deploy

import store again
  web/src/apis/ApiDirector.ts
Due: build frontend, deploy

Fix width for long email adresses in Navbar
  web/src/components/navbar/navbar.scss
Due: build frontend, deploy

743 Publishing process
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectResolverService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/resources/Dockerfile
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/CodeProjectPublishingIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

fix minor issues
  epf/src/pipelines/augment.py
  epf/src/visualisation/tsne.py
Due: build epf, deploy, e2e test experiment

Add Epic template
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Epic.md
  .gitlab/issue_templates/Task.md
Due: none

Remove untasteful adjective
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/NameGenerator.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add environment variables to end2end tests
  .gitlab-ci.yml
  backend/.run/backend_mlreef-system-test [pipelineTest].run.xml
  backend/.run/backend_mlreef-system-test [systemTest].run.xml
  bin/includes/ci-environment
  web/.gitlab-ci.yml
  web/bin/ci-run-end2end-tests
  web/package.json
  web/src/TokenProvider.ts
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/apiConfig.js
  web/src/apis/ApiDirector.js
  web/src/apis/ApiDirector.ts
  web/src/apis/CodeProjectPublishing.js
  web/src/apis/ProjectGeneralInfoApi.js
  web/src/apis/apiBuilders/ApiRequestCallBuilder.js
  web/src/apis/apiBuilders/BLApiRequestCallBuilder.js
  web/src/apis/apiBuilders/BasicImplFunctions.js
  web/src/apis/apiBuilders/Builder.js
  web/src/apis/apiBuilders/requestEnums.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Simplify lambda chain
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLPython3Parser.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fix login shows errors incorrectly
  web/src/components/login/login.css
Due: build frontend, deploy

#776: Insert correct values for API documentation
  .gitlab-ci.yml
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/GroupsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add code comments
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLParser.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLPython3Parser.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorParameter.kt
  backend/mlreef-domain/src/test/resources/python_examples/resnet_annotations_demo.py
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add additional error code for Group creation fail
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Simplify transformContextToOrderedList function
  backend/mlreef-domain/src/main/kotlin/com/mlreef/parsing/MLPython3Parser.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Remove postman tests
  .gitlab-ci.yml
  bin/ci-postman-tests
  bin/resources/newman-smoke-test-environment.json
  bin/resources/smoke-tests.postman_collection.json
Due: none

#770 access public projects
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/security/PersonResolver.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Repair failing integration tests
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add usage to runner config template
  bin/resources/runner-config.template.toml
Due: none

Revert "add new intermediate component"
  .gitattributes
  web/package.json
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/PipelinesExecutionView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/pipeLineExecutionModal.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/processorsList.test.jsx
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/input/input.jsx
  web/src/components/layout/FilesSelector/FilesSelector.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesProvider.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/actions.js
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/ErrorsDiv.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/InputParam.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/index.js
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/functions/pipeLinesHelpers.js
  web/src/functions/validations.js
Due: build frontend, deploy

Fix catch after handleResponse (reloaded)
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/views/SettingsView/SettingsViewGeneralAdvanced.jsx
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
  web/src/routes.js
Due: build frontend, deploy

Repair file view routing issues and minor warnings
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/routes.js
Due: build frontend, deploy
