Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy:
  stage: deploy
  image: registry.gitlab.com/systemkern/s5:1-aws
  dependencies:
  - provision
  script: bin/ci-deploy

pages:
  image: node:10.19.0-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

end2end tests:
  stage: test
  needs:
  - provision
  - deploy
  image: node:10.19.0-alpine
  script: web/bin/ci-run-end2end-tests

system tests:
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  allow_failure: false
  when: delayed
  start_in: 3 minutes
  ...

pipeline tests:
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  allow_failure: true
  when: manual
  ...

Decommission review environments for stale branches
  .gitlab-ci.yml
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Clean develop instance check in provision job
  bin/ci-provision
Due: none

Improve code style, remove useless class
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/system/PermissionsService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Remove obsolete script
  backend/mlreef-rest/init-test-env-windows.bat.example
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Remove parameter nullability
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B1_DataProject_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B2_DataProject_Permission_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/C_DataProject_Pipelines_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/D_DataProject_Experiment_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/E_Docker_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

#878 Allow url navigation in marketplace view
  web/public/images/Lock-01.svg
  web/public/images/icon_grey-01.png
  web/public/images/public-01.svg
  web/src/__tests__/views/ExploreView/ExploreView.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/actions/actionTypes.js
  web/src/actions/projectInfoActions.js
  web/src/apis/MLSearchApi.ts
  web/src/components/commons/TabsRouted/TabsRouted.jsx
  web/src/components/commons/TabsRouted/TabsRouted.scss
  web/src/components/commons/TabsRouted/TabsRoutedMarketplace.scss
  web/src/components/commons/TabsRouted/index.js
  web/src/components/ui/MBricksWall/MBricksWall.jsx
  web/src/components/ui/MBricksWall/MBricksWall.scss
  web/src/components/ui/MBricksWall/sortGrid.js
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/components/views/ExploreView/ExploreView.scss
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/functions/apiCalls.js
  web/src/functions/helpers.js
  web/src/reducers/index.js
  web/src/reducers/initialState.js
  web/src/reducers/marketplaceReducer.js
  web/src/reducers/projectReducer.js
  web/src/store.js
  web/src/styles/_initials.scss
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix/Review issue on drag n drop function to upload files
  web/src/__tests__/views/projectView/EmptyProject.test.jsx
  web/src/__tests__/views/uploadFiles/uploadFiles.test.jsx
  web/src/__tests__/views/uploadFiles/uploadReducer.test.js
  web/src/__tests__/views/userAccount.test.jsx
  web/src/components/projectView/emptyProject.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/components/views/uploadFile/uploadFileReducer.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

filter the branches correctly
  web/src/components/branches-list-view/branchesView.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#908 Fix publish button permissions
  web/src/components/experiments-overview/ExperimentActions.js
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

fix data project creation request
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add dependency lists
  docs/content/99-development/1-dependencies.md
Due: pages, test rest docs are present

#338 tabular capabilities
  web/.eslintrc.js
  web/package-lock.json
  web/package.json
  web/src/apis/FilesApi.ts
  web/src/components/commons/RepositoryFileExplorer/RepositoryFileExplorer.jsx
  web/src/components/commons/RepositoryFileExplorer/index.js
  web/src/components/commons/TabularData/TabularData.jsx
  web/src/components/commons/TabularData/TabularData.scss
  web/src/components/commons/TabularData/TabularDataFeeder.jsx
  web/src/components/commons/TabularData/TabularDataGraphCreator.jsx
  web/src/components/commons/TabularData/TabularDataGraphCreator.scss
  web/src/components/commons/TabularData/functions.js
  web/src/components/commons/TabularData/index.js
  web/src/components/commons/TabularData/plotTypes.js
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/insights/insights.jsx
  web/src/components/ui/MAccordion/MAccordion.jsx
  web/src/components/ui/MChart/MChart.jsx
  web/src/components/ui/MChart/MChart.scss
  web/src/components/ui/MChart/index.js
  web/src/components/ui/MDataTable/MDataTable.jsx
  web/src/components/ui/MDataTable/MDataTable.scss
  web/src/components/ui/MDataTable/MDataTableMenu.jsx
  web/src/components/ui/MDataTable/functions.js
  web/src/components/ui/MDataTable/index.js
  web/src/components/ui/MFileExplorer/MFileExplorer.jsx
  web/src/components/ui/MFileExplorer/MFileExplorer.scss
  web/src/components/ui/MLoadingSpinner/MLoadingSpinner.scss
  web/src/components/ui/MLoadingSpinner/MLoadingSpinnerContainer.jsx
  web/src/components/ui/MLoadingSpinner/index.js
  web/src/customHooks/charts.js
  web/src/customImports/ReactPlotly.js
  web/src/functions/helpers.js
  web/src/styles/modules/_forms.scss
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#881 Add sharing buttons to project view
  web/public/images/icons/linkedin_active.svg
  web/public/images/icons/telegram.png
  web/public/images/icons/tw.png
  web/public/images/icons/ws.png
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/commons/SocialLinks/SocialLinks.jsx
  web/src/components/commons/SocialLinks/SocialLinks.scss
  web/src/components/commons/SocialLinks/index.js
  web/src/components/projectView/projectView.css
  web/src/components/ui/MCloneDropdown/MCloneDropdown.scss
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#558 Fix disapearing projects during forking
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/ProjectServiceForkingTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.fix
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Revert "change response functions order to be called"
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/actions/projectInfoActions.js
  web/src/apis/MLSearchApi.ts
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MScrollableSection/MScrollableSection.jsx
  web/src/testData.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Call the republish endpoint when pipelines count is greater than 0
  backend/mlreef-rest/src/main/resources/application.yml
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/publishingActions.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Improve user experience by adding styles and guiding popups
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/__tests__/views/groupsOverview/__snapshots__/GroupProjects.test.jsx.snap
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/InputParam.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Use gitlab api to request images
  web/src/components/ReadMe/ReadMe.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#886 Fix file view issues
  web/src/components/fileView/fileView.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#918 Add end to end test for create delete project
  web/package.json
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.fix
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.js
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

change classes and add css properties
  web/src/components/views/create-project/createProject.css
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Install Java into gitlab omnibus image
  .gitlab-ci.yml
  Dockerfile
  nautilus/assets/mlreef-wrapper
Due: deploy, smoke tests, end2end tests, system tests, pipeline tests

Add clarification to ticket templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Epic.md
  .gitlab/issue_templates/Task.md
Due: none

Update Dockerfile
  epf/Dockerfile
Due: build epf, deploy, smoke tests, end2end tests, system tests, pipeline tests

Update Dockerfile change sentinel credentials
  epf/Dockerfile
Due: build epf, deploy, smoke tests, end2end tests, system tests, pipeline tests

Update background-push show sentinel credentials
  epf/src/bin/background-push
Due: build epf, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix issues delete file mod
  web/src/components/DeleteFileModal/DeleteFileModal.jsx
  web/src/components/ui/MDropdown/MDropdown.jsx
  web/src/components/ui/MInputSelect/MInputSelect.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

fix system test
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Delete legacy code css and router comp
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/experimentsOverview.css
  web/src/components/input/input.css
  web/src/components/views/create-group/createGroup.jsx
  web/src/components/views/uploadFile/uploadFile.scss
  web/src/css/globalStyles.css
  web/src/index.jsx
  web/src/logos/MLReef_Logo_POS_H_icon-01.png
  web/src/logos/MLReef_Logo_POS_H_icon-01@2x.png
  web/src/routerComp.jsx
  web/src/styles/_initials.scss
  web/src/styles/fonts/index.css
  web/src/styles/modules/_general.scss
  web/src/styles/modules/index.scss
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Return to aws url for cloning
  web/src/components/ProjectTitleNActions.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix some errors for maintenance
  web/src/components/experiment-details/menu-options/jobLog.scss
  web/src/components/files-table/filesTable.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Clean linter warnings (reloaded)
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/ReadMe/ReadMe.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/projectView/projectView.css
  web/src/components/ui/MInput/MInput.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix the local mlreef setup
  bin/includes/install-parse-cli-params
  bin/setup-local-environment
Due: none

Add mload spiner to files table and monospace to file view
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/fileView/fileView.css
  web/src/components/files-table/filesTable.css
  web/src/components/files-table/filesTable.jsx
  web/src/components/ui/MLoadingSpinner/MLoadingSpinner.jsx
  web/src/components/ui/MLoadingSpinner/MLoadingSpinner.scss
  web/src/components/ui/MLoadingSpinner/MLoadingSpinnerContainer.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

#898 Document publishing process
  docs/content/4-code-projects/0-README.md
  docs/content/99-development/1-Projects.md
Due: pages, test rest docs are present

Commit 1: Base environment enum was replaced with entity Commit 2: Commit 3:
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/EpfController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CodeProjectPublishingDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/DataProcessorDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/application-config.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/RepositoryTree.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/DataProcessorService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/RepositoryService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DataProcessorBuilder.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/main/resources/code-publishing-mlreef-file-template.yml
  backend/mlreef-rest/src/main/resources/db/migration/V52__904_UPDATE_DATA_PROCESSOR.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/DataPopulatorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/RepositoryServiceContextTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/DataProcessorInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/AbstractIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/CodeProjectPublishingIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/DataProcessorIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/IntegrationTestsHelper.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/DataProcessorInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ParameterInstanceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
  web/src/__end2end-tests__/CodePublishing.test.js
  web/src/apis/ProjectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

add logs for auxiliary function, fix indentation and nesting to fix error in DataPipelines test suite
  web/bin/ci-run-end2end-tests
  web/src/__end2end-tests__/CodePublishing.test.js
  web/src/__end2end-tests__/CommitsApi.test.fix
  web/src/__end2end-tests__/CommitsApi.test.js
  web/src/__end2end-tests__/DataPipelines.test.fix
  web/src/__end2end-tests__/DataPipelines.test.js
  web/src/__end2end-tests__/EPFDeploymentLocalImage.test.js
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.js
  web/src/__end2end-tests__/ProjectsGeneralInfoApiNoAuth.test.js
  web/src/__end2end-tests__/RegisterUser.test.jsx
  web/src/__end2end-tests__/apiMocks/CodeProjectPublishing.spike.ts
  web/src/__end2end-tests__/apiMocks/UserApi.ts
  web/src/__end2end-tests__/fixtures/testHelpers.js
  web/src/apis/EnvironmentsApi.ts
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/setupTests.jsx
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Add rich experiments table in experiments overiew
  web/.storybook/main.js
  web/.storybook/preview.js
  web/package-lock.json
  web/package.json
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTable.scss
  web/src/components/commons/ExperimentTable/ExperimentTableCustomizeColumns.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableFilters.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRow.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/commons/ExperimentTable/index.js
  web/src/components/commons/ExperimentTable/stories/ExperimentTable.stories.jsx
  web/src/components/commons/ExperimentTable/stories/exp.js
  web/src/components/commons/ExperimentTable/stories/experiment.json
  web/src/components/ui/MButton/MButton.stories.jsx
  web/src/components/ui/MDataTable/MDataTable.jsx
  web/src/components/ui/MDataTable/MDataTableBase.jsx
  web/src/components/ui/MDataTable/MDataTableRow.jsx
  web/src/components/ui/MDataTable/index.js
  web/src/components/ui/MDataTable/propTypes.js
  web/src/components/ui/MDataTable/stories/MDataTable.stories.jsx
  web/src/components/ui/MDataTable/stories/experiment.json
Due: build frontend, deploy, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
