Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy_review:
  stage: deploy
  image:
    name: registry.gitlab.com/mlreef/devops/k8s-images/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://$CI_ENVIRONMENT_SLUG.$KUBE_INGRESS_BASE_DOMAIN
    on_stop: stop_review
  script:
  - kubectl version
  ...

clean rest docs folder:
  stage: maintenance
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: 'chmod +x docs/bin/ci-pages-cleanup
  
    docs/bin/ci-pages-cleanup
  
    '

pages:
  image: node:10.19.0-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

test rest docs are present:
  stage: test
  image: registry.gitlab.com/systemkern/s5:1
  allow_failure: true
  ...

smoke tests:
  stage: test
  when: delayed
  start_in: 5 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-smoke-tests

end2end tests:
  stage: test
  needs:
  - deploy_review
  image: node:10.19.0-alpine
  allow_failure: true
  script: web/bin/ci-run-end2end-tests

add spinner for file item while loading, hide tabs when project is empty
  web/src/components/FileviewComp/Fileview.jsx
  web/src/components/projectContainer.jsx
  web/src/components/projectView/projectView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Follow up !1207
  .gitlab-ci.yml
  docs/content/0-README.md
Due: deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add ExperimentTableOverall
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/commons/ExperimentTable/ExperimentTable.scss
  web/src/components/commons/ExperimentTable/ExperimentTableOverall.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableOverallGraph.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRow.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/commons/ExperimentTable/index.js
  web/src/components/commons/ExperimentTable/stories/experimentsDemo.json
  web/src/store/actionTypes.js
  web/src/store/actions/experimentsActions.js
  web/src/store/reducers/experimentsReducer.js
  web/src/store/reducers/index.js
  web/src/store/reducers/initialState.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Adapt operator to render code section with entry point file content
  web/src/__tests__/views/PipelinesExecutionView/DataOperatorCodeSection.test.jsx
  web/src/components/input/input.css
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/DataOperatorCodeSection.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/DataOperatorCodeSection.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/actionsAndFunction.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/customImports/MonacoEditor.jsx
  web/src/styles/_initials.scss
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Improve style and update test
  web/src/__tests__/views/PipelinesExecutionView/DataOperatorCodeSection.test.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/DataOperatorCodeSection.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/DataOperatorCodeSection.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/DataOperatorCodeSection/actionsAndFunction.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update Dockerfile to remove pip dependencies from installation script
  epf/Dockerfile
Due: build epf, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

remove min width resolution
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#337 show up to 100 files and display warning
  web/src/__tests__/FilesTable.test.jsx
  web/src/apis/FilesApi.ts
  web/src/components/files-table/filesTable.jsx
  web/src/styles/modules/_helpers.scss
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Gitlab registry env value change and resource changes
  Dockerfile
  bin/build-export-nautilus-offline
  bin/includes/install-render-local-env
  k8s/apps/gitlab-runner-configmap.yml
  k8s/gitlab-deployment
  k8s/prepare_final_deployment_yml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Show password
  web/src/components/login/login.css
  web/src/components/login/login.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Nautilus offline setup additions
  bin/build-run-nautilus-offline
  bin/k8s-review-deploy
  docs/content/80-on-prem/1-README.md
  k8s/prepare_final_deployment_yml
  nautilus/assets/offline-setup
Due: deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Bugfix Nautilus offline setup
  nautilus/assets/mlreef-wrapper
Due: none

#1015 Delete branch after delete experiment
  web/src/components/commons/ExperimentTable/ExperimentTable.jsx
  web/src/components/experiments-overview/ExperimentsView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Feature/751 loacal epf image
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/RestApplication.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/application-test.yml
  backend/mlreef-rest/src/main/resources/application.yml
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGeneratorTest.kt
  bin/includes/install-render-local-env
  k8s/gitlab-deployment
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Data pipeline stuck bugfix
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Update Nautilus doc for pip server
  docs/content/80-on-prem/1-README.md
Due: clean rest docs folder, pages, test rest docs are present

Create new dashboard
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/components/instruction/instruction.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/ui/MTags/MTags.jsx
  web/src/components/ui/MTags/MTags.scss
  web/src/components/ui/MTags/index.js
  web/src/components/views/DashboardV2/DashboardContext.jsx
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/DashboardV2/DashboardV2.scss
  web/src/components/views/DashboardV2/FiltersSection.scss
  web/src/components/views/DashboardV2/FiltersSections.jsx
  web/src/components/views/DashboardV2/ProjectsArraySection.jsx
  web/src/components/views/DashboardV2/ProjectsDropDown.jsx
  web/src/components/views/DashboardV2/TagSection.jsx
  web/src/components/views/DashboardV2/constants.js
  web/src/components/views/DashboardV2/dashBoardActions.js
  web/src/components/views/DashboardV2/index.js
  web/src/customHooks/useDropdown.js
  web/src/dataTypes.js
  web/src/functions/testUtils.js
  web/src/routes.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix back button in error view
  web/src/components/views/ErrorView/NotFoundView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Increase helper memory limit for aws
  bin/resources/runner-config.k8s-template.toml
Due: deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add analytics tool to the FE
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/src/__tests__/__snapshots__/RegisterLandingView.test.jsx.snap
  web/src/components/RegisterView/RegisterLandingView.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

ASdd testing dashboard and deprecate code
  web/src/__tests__/myProjects/myProjects.test.jsx
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/__tests__/views/Dashboard/DashboardReducer.test.js
  web/src/__tests__/views/Dashboard/FiltersSection.test.jsx
  web/src/__tests__/views/Dashboard/TagSection.test.jsx
  web/src/components/myProjects/README.md
  web/src/components/myProjects/myProjects.jsx
  web/src/components/myProjects/myProjects.scss
  web/src/components/projectSet.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.scss
  web/src/components/ui/MProjectClassification/functions.js
  web/src/components/views/DashboardV2/DashboardContext.jsx
  web/src/components/views/DashboardV2/ProjectsArraySection.jsx
  web/src/components/views/DashboardV2/dashBoardActions.js
  web/src/routes.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

hide code section when rebuilding a pipeline
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#552 Update node 14
  .gitlab-ci.yml
  Dockerfile
  docs/package-lock.json
  docs/package.json
  web/Dockerfile
  web/bin/npm
  web/package-lock.json
  web/package.json
Due: build frontend, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Add call to function to handle response correctly
  web/src/apis/MLSearchApi.ts
  web/src/components/views/SettingsView/SettingsViewMembers.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

remove deprecated code and their tests
  web/src/__tests__/views/experiments/ExperimentDeletionModal.test.jsx
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/__tests__/views/experiments/experimentCancellationModal.test.jsx
  web/src/__tests__/views/experiments/experimentCard.test.jsx
  web/src/components/experiments-overview/DeletionModal/DeleteExperimentModal.jsx
  web/src/components/experiments-overview/DeletionModal/DeleteModal.scss
  web/src/components/experiments-overview/DeletionModal/index.js
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.jsx
  web/src/components/experiments-overview/cancellationModal/ExperimentCancellationModal.scss
  web/src/components/experiments-overview/cancellationModal/index.js
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/routes.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Fix a bug
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Remove second docker build command to reduce compilation time
  Dockerfile
  web/.gitlab-ci.yml
  web/Dockerfile
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

display empty string as default in the minimum stars input
  web/src/components/views/DashboardV2/DashboardContext.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

#1014 Fix publications view to fetch publications after reloading
  web/package.json
  web/src/__tests__/views/Publications/Publications.test.jsx
  web/src/components/views/Publications/PublicationActionsAndFunctions.js
  web/src/components/views/Publications/Publications.jsx
  web/src/routes.js
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Increase code quality by improving coverage
  web/src/__tests__/FilesContainer.test.jsx
  web/src/__tests__/customHooks/useDropDown.test.jsx
  web/src/__tests__/customHooks/useSelectedProject.test.jsx
  web/src/__tests__/views/BasicMergeRequestView/BasicMergeRequestView.test.jsx
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/__tests__/views/SettingsView/SettingsViewGeneral.test.jsx
  web/src/__tests__/views/SettingsView/__snapshots__/SettingsViewGeneral.test.jsx.snap
  web/src/apis/BranchesApi.ts
  web/src/components/CommitsView/CommitView.jsx
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/FilesContainer/filesContainerActions.js
  web/src/customHooks/useSelectedProject.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Update Nautilus offline doc
  docs/content/80-on-prem/1-Installing_Nautilus_offline.md
Due: clean rest docs folder, pages, test rest docs are present

Increase code quality 2
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MDropdown/MDropdown.jsx
  web/src/components/ui/MDropdown/MDropdown.scss
  web/src/components/ui/MInputSelect/MInputSelect.jsx
  web/src/components/views/MlreefGroups/GroupProjects.jsx
  web/src/components/views/PipelinesExecutionView/SelectComp/SelectComp.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Add latest tag for master branch
  .gitlab/.gitlab-ci-base-docker-build.yml
  backend/.gitlab-ci.yml
  epf/.gitlab-ci.yml
  images/experiment/.gitlab-ci.yml
  nautilus/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Bugfix GPU runner pipeline missing cuda libraries
  backend/.gitlab-ci.yml
  epf/Dockerfile
  images/experiment/Dockerfile
Due: compile backend, build backend, build epf, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Nautilus offline doc format correction
  docs/content/80-on-prem/1-Installing_Nautilus_offline.md
Due: clean rest docs folder, pages, test rest docs are present

Update 1-Installing_Nautilus_offline.md
  docs/content/80-on-prem/1-Installing_Nautilus_offline.md
Due: clean rest docs folder, pages, test rest docs are present

Make dashboard sortings work in Chrome
  web/src/__tests__/views/Dashboard/TagSection.test.jsx
  web/src/components/views/DashboardV2/ProjectsArraySection.jsx
  web/src/components/views/DashboardV2/TagSection.jsx
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

fix pip server url parsing
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Refactoring code and add tests
  web/src/__tests__/DataInstanceCard.test.jsx
  web/src/__tests__/DataInstanceDetails.test.jsx
  web/src/__tests__/ReadMe.test.jsx
  web/src/__tests__/dataInstanceOverview.test.jsx
  web/src/__tests__/views/Fileview/ContributorsSection.test.jsx
  web/src/__tests__/views/Fileview/fileView.test.jsx
  web/src/apis/BranchesApi.ts
  web/src/components/ReadMe/Readme.scss
  web/src/components/data-visualization/dataVisualizationCard.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/fileView/README.md
  web/src/components/projectView/projectView.jsx
  web/src/components/ui/ReadMe/ReadMe.jsx
  web/src/components/ui/ReadMe/Readme.scss
  web/src/components/views/Datainstances/DataInstanceActions.js
  web/src/components/views/Datainstances/DataInstancesCard.jsx
  web/src/components/views/Datainstances/DataInstancesOverview.jsx
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
  web/src/components/views/Datainstances/dataInstanceDetails.scss
  web/src/components/views/Datainstances/dataInstanceOverview.css
  web/src/components/views/FileviewComp/ContributorsSection.jsx
  web/src/components/views/FileviewComp/Fileview.jsx
  web/src/components/views/FileviewComp/Fileview.scss
  web/src/components/views/FileviewComp/README.md
  web/src/components/views/FileviewComp/functions.js
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy_review, smoke tests, end2end tests, system tests, pipeline tests

Doc/adapt readme
  README.md
  developer_guide.md
  web/public/images/ML-Coverage.jpg
  web/public/images/WhyMLReef.png
Due: build frontend, deploy_review, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
