Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

Bugfix/pipeline push error
  backend/mlreef-rest/src/main/resources/application.yml
  bin/includes/install-render-local-env
  k8s/gitlab-deployment
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, system tests, pipeline tests

Bugfix/social real and fake names
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/UserDto.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, system tests, pipeline tests

add additional step to the whoAmI action
  web/package.json
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Adapt pipeline to prod environment
  bin/includes/install-render-local-env
Due: none

Fix user info request
  web/package.json
  web/src/apis/UserApi.ts
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Add alternative to get token for auth
  web/package.json
  web/src/TokenProvider.ts
  web/src/components/views/RegisterRedirectionView/RegisterRedirectionView.jsx
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Support/rename token
  web/package.json
  web/src/TokenProvider.ts
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

fix issues with incorrect namespace calculation
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, system tests, pipeline tests

Refactor request builders for project's cover
  web/package.json
  web/src/apis/ApiDirector.ts
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/apis/apiBuilders/ApiRequestCallBuilder.ts
  web/src/apis/apiBuilders/FormReqBuilder.ts
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Support order in the request
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/views/Publications/PublicationActionsAndFunctions.js
Due: compile backend, build backend, build frontend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, system tests, pipeline tests

Disable tags section to let udpate work
  web/package.json
  web/src/components/views/SettingsView/SettingsViewGeneral.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Repo clean up
  web/package-lock.json
  web/package.json
  web/src/__tests__/layout/MPDFReader/MPDFReader.test.jsx
  web/src/__tests__/layout/MPDFReader/base64.txt
  web/src/__tests__/views/BranchesView/branchesView.test.jsx
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/components/layout/MPdfReader/MPDFFilesReader.jsx
  web/src/components/layout/MPdfReader/MPDFReader.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

add props to make list scrollable
  web/package.json
  web/src/__tests__/views/BranchesView/DeleteBranchesViewModal.test.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.jsx
  web/src/components/views/BranchesListView/branchesView.jsx
  web/src/components/views/BranchesListView/deleteBranchModal.jsx
  web/src/store/actions/branchesActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

change searching method to avoid sorting error
  web/package.json
  web/src/__tests__/views/BranchesView/branchesView.test.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, system tests, pipeline tests

Update README.md
  README.md
Due: clean rest docs folder, pages, test rest docs are present

Update Readme
  README.md
Due: clean rest docs folder, pages, test rest docs are present
