Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy_review: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  post-deploy: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  clean rest docs folder: any of: backend/**/*, docs/**/*, README.md
  pages: any of: backend/**/*, docs/**/*, README.md
  test rest docs are present: any of: backend/**/*, docs/**/*, README.md
  smoke tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  end2end tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  system tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml
  pipeline tests: any of: backend/**/*, bin/ci-deploy, bin/install, bin/resources/runner-config*, epf/**/*, images/**/*, k8s/**/*, web/**/*, .gitlab-ci.yml, docker-compose.yml

Prod k8s runner concurrency change
  bin/install
  bin/resources/runner-config.config.toml
Due: deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

change the rerouting url
  web/src/components/layout/NewDirectoryPartial/NewDirectoryPartial.jsx
  web/src/components/repoFeatures.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Reactivate copy data operation option
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/__tests__/views/PipelinesExecutionView/FunctionalPipelinesCreationView.test.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/actions.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorList.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix 836 switching branches review
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix button problem
  web/src/components/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix minor bugs in routing
  web/src/components/views/DataVisualization/dataVisualizationCard.jsx
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/routes.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

remove FE rerouting
  web/Dockerfile
  web/src/apiConfig.js
  web/src/router/PrivateRoute.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

gitlab setting change, remove backgrond-push out print
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
  bin/includes/gitlab-settings
  docker-compose.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

add index to validate params, add index to SortableOperator
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
  web/src/components/views/PipelinesExecutionView/SelectComp/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/InputParam.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Feature/recent projects paged
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/MarketplaceController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/application-config.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/domain/Project.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/exceptions/rest-exceptions.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/RecentProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix/remove warnings n clean libraries
  web/src/components/ChangesMRSection/ChangesMrSection.jsx
  web/src/components/ChangesMRSection/functions.js
  web/src/components/CodeDiffSection/codeDiffSection.css
  web/src/components/CodeDiffSection/codeDiffSection.jsx
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/RegisterView/RegisterView.jsx
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/instruction/instruction.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/ui/MTags/MTags.jsx
  web/src/components/ui/MTimer/MTimer.jsx
  web/src/components/views/DataVisualization/dataVisualizationOverview.jsx
  web/src/components/views/Datainstances/DatainstanceFiles.jsx
  web/src/components/views/Datainstances/dataInstanceDetails.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/PublishProcessView/publishingActionsAndFuncs.js
  web/src/customHooks/useSelectedProject.js
  web/src/router/Router.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

update datavisualizatin details view
  web/src/components/views/DataVisualization/dataVisualizationDetail.jsx
  web/src/store/actions/projectInfoActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

get the real readme file name to fix request and fix test
  web/src/__tests__/ReadMe.test.jsx
  web/src/components/DetailedProjectView/DetailedProjectView.jsx
  web/src/components/ui/ReadMe/ReadMe.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

pass as prop the specific role
  web/src/components/repoFeatures.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

#1061 add recent tab dashboard
  web/src/__tests__/views/Dashboard/DashboardActions.test.js
  web/src/apis/MLSearchApi.ts
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/views/DashboardV2/DashboardV2.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Add a plugin and a custom component to handle PDF files
  web/package-lock.json
  web/package.json
  web/src/__tests__/layout/MPDFReader/MPDFReader.test.jsx
  web/src/__tests__/layout/MPDFReader/base64.txt
  web/src/components/layout/MPdfReader/MPDFFilesReader.jsx
  web/src/components/layout/MPdfReader/MPDFReader.scss
  web/src/components/views/FileviewComp/Fileview.jsx
  web/src/components/views/FileviewComp/Fileview.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix the pipeline view tests by adding missing parameter and url part
  web/src/__tests__/views/Dashboard/Dashboard.test.jsx
  web/src/apis/MLSearchApi.ts
  web/src/components/layout/Dashboard/ProjectsArraySection.jsx
  web/src/components/layout/Dashboard/dashBoardActions.js
  web/src/components/views/DashboardV2/DashboardV2.jsx
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix not clickable button in select dropdown
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/branchSwitching.test.jsx
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/__tests__/views/DetailedProjectView/DetailedProjectView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/testData.js
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/testData.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Replace Gitlab pipelines request for BE publications
  web/.env
  web/src/.babelrc
  web/src/__tests__/ui/MTimer.test.jsx
  web/src/__tests__/views/Publications/Publications.test.jsx
  web/src/__tests__/views/Publications/publicationsActionsAndFunctions.test.js
  web/src/__tests__/views/Publications/publicationsTestInfo.json
  web/src/apis/ProjectGeneralInfoApi.ts
  web/src/components/views/Publications/PublicationActionsAndFunctions.js
  web/src/components/views/Publications/PublicationInfoRow.jsx
  web/src/components/views/Publications/Publications.jsx
  web/src/domain/Publications/Environment.ts
  web/src/domain/Publications/Publication.ts
  web/src/domain/Publications/Status.ts
  web/src/domain/Publications/metaData.ts
  web/src/functions/dataParserHelpers.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

wdefsdfsdfds
  web/src/__tests__/views/Dashboard/DashboardActions.test.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Make insights view look friendly for forked projects
  web/src/__tests__/views/Dashboard/DashboardActions.test.js
  web/src/__tests__/views/Dashboard/actions.test.js
  web/src/components/views/ExperimentInsights/InsightMenu/jobs.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

change Machine Type
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix typo
  web/src/components/views/DashboardExplore/DashboardExplore.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

remove useless snapshot
  web/src/__tests__/views/DataVisualizations/DataVisualizationsCard.test.jsx
  web/src/__tests__/views/DataVisualizations/__snapshots__/DataVisualizationsCard.test.jsx.snap
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix registration issue
  web/src/__tests__/integrationTests/userActions.test.js
  web/src/components/RegisterView/RegisterView.jsx
  web/src/domain/experiments/Experiment.ts
  web/src/store/actions/userActions.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

User id goes to cookie after social authorization
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/SocialController.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Commit through http
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix a bug with ignoring branch on parsing
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ParserController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/PublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/processors/PythonParserService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/processors/RepositoryService.kt
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Increase code quality 2
  web/src/__tests__/FilesTable.test.jsx
  web/src/__tests__/views/BranchesView/DeleteBranchesViewModal.test.jsx
  web/src/__tests__/views/BranchesView/branchesView.test.jsx
  web/src/__tests__/views/experiments/ExperimentArtifacts.test.jsx
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/FilesTable/filesTable.css
  web/src/components/FilesTable/filesTable.jsx
  web/src/components/ui/MArrowButton/arrowButton.jsx
  web/src/components/ui/MArrowButton/arrowButton.scss
  web/src/components/ui/MInputSelect/MInputSelect.jsx
  web/src/components/views/BranchesListView/branchesView.jsx
  web/src/components/views/DataVisualization/DataVisualizationFiles.jsx
  web/src/components/views/Datainstances/DatainstanceFiles.jsx
  web/src/components/views/DetailedRepositoryView/DetailedRepositoryView.jsx
  web/src/components/views/ExperimentDetails/MenuOptions/ExperimentArtifacts.jsx
  web/src/components/views/MlreefGroups/GroupProjects.jsx
  web/src/components/views/PipelinesExecutionView/SelectComp/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Fix issue and add test to cover this code
  web/src/__tests__/views/PipelinesExecutionView/DataPipelinesReducer.test.js
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Docs/update docs
  docs/content/0-general/0-concepts/4-reproducibility.md
  docs/content/0-general/1-repositories/1-ml_projects.md
  docs/content/0-general/1-repositories/2-models.md
  docs/content/0-general/1-repositories/3-dataops.md
  docs/content/0-general/1-repositories/4-data_visualizations.md
  docs/content/0-general/1-repositories/5-releasing_code_repos.md
  docs/content/0-general/2-insights/0-README.md
  docs/content/2-experiments/0-README.md
  docs/content/2-experiments/1-model_output.md
Due: clean rest docs folder, pages, test rest docs are present

1002 separate public and private data processors into divs
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducerAndFunctions.js
  web/src/components/views/PipelinesExecutionView/FunctionalExecutionPipelinesView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

fix: data selector modal navigation, debugger 1082
  web/.vscode/launch.json
  web/src/components/returnLink.jsx
  web/src/components/ui/MDropdown/MDropdown.scss
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

For FE test of OAuth
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

For FE test of OAuth
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security-services.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/oauth/OAuthClientSettingsStorage.kt
  backend/mlreef-rest/src/main/resources/application.yml
Due: compile backend, build backend, backend integration tests, deploy_review, post-deploy, clean rest docs folder, pages, test rest docs are present, smoke tests, end2end tests, system tests, pipeline tests

Fix/add testing remove deprecated code
  web/src/__tests__/commons/RepositoryFileExplorer.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/SortableDataOperationComps.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/testData.js
  web/src/components/commons/ExperimentTable/ExperimentTableRowPanel.jsx
  web/src/components/commons/TabularData/TabularDataFeeder.jsx
  web/src/components/views/PipelinesExecutionView/DragNDropZone.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SortableProcessor.jsx
  web/src/functions/apiCalls.js
  web/src/functions/testUtils.js
  web/src/store/actionTypes.js
  web/src/store/actions/projectInfoActions.js
  web/src/store/index.js
  web/src/store/reducers/index.js
  web/src/store/reducers/initialState.js
  web/src/store/reducers/marketplaceReducer.js
  web/src/store/reducers/projectReducer.js
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Update web/src/components/commons/ExperimentTable/ExperimentTable.scss
  web/src/components/commons/ExperimentTable/ExperimentTable.scss
Due: build frontend, deploy_review, post-deploy, smoke tests, end2end tests, system tests, pipeline tests

Update README.md
  README.md
Due: clean rest docs folder, pages, test rest docs are present
