Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

compile backend:
  stage: stage1
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - backend/.gradle/wrapper
    - backend/.gradle/caches
  script: bin/ci-compile-backend
  artifacts:
    paths:
    - backend/mlreef-rest/build/asciidoc/html5/rest-api.html
  ...

build backend:
  stage: stage2
  image: docker:19.03.1
  services:
  - docker:19.03.0-dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build frontend:
  stage: stage1
  image: docker:19.03.5
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

build epf:
  stage: stage1
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - export TAG="${CI_COMMIT_REF_SLUG}"
  - if [ $CI_COMMIT_REF_SLUG = "master" ]; then export TAG="latest";  fi
  - export GATEWAY_IMAGE_PATH=$CI_REGISTRY_IMAGE/gateway:$TAG
  ...

backend integration tests:
  allow_failure: true
  stage: test
  image: java:8
  services:
  - docker:19.03.0-dind
  cache:
    key: $CI_COMMIT_BRANCH
    paths:
    - .gradle/wrapper
    - .gradle/caches
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd backend
  ...

deploy:
  stage: deploy
  when: delayed
  start_in: 3 minutes
  image: registry.gitlab.com/systemkern/s5:latest
  script: bin/ci-deploy

pages:
  image: node:10.19.0-alpine
  stage: deploy
  cache:
    key: pages-public-cache
    paths:
    - public/
    - /usr/local/lib/node_modules
    - docs/node_modules
  script: docs/bin/ci-pages
  artifacts:
    paths:
    - public

postman test suite:
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-newman
  cache:
    key: newman
    paths:
    - node_modules/.bin/
  script: bin/ci-postman-tests

e2e test experiment:
  allow_failure: true
  stage: test
  when: delayed
  start_in: 4 minutes
  image: registry.gitlab.com/systemkern/s5:latest-git
  script: bin/ci-test-end2end-experiment
  artifacts:
    paths:
    - out/test

778 docker container recreate issue
  bin/includes/install-cleanup-docker
  bin/install
Due: none

Improve SEO for project view
  web/public/index.html
  web/public/manifest.json
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/commons/SEO/SEO.jsx
  web/src/components/commons/SEO/index.js
  web/src/components/layout/MActionModal/MActionModal.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/projectView/LastCommitSect.jsx
  web/src/components/projectView/emptyProject.jsx
  web/src/components/projectView/emptyProject.scss
  web/src/components/ui/MDropdown/MDropdown.jsx
Due: build frontend, deploy

Implement the second stage of the publishing wizard overview
  web/public/images/status/passed.svg
  web/public/images/status/success.svg
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__tests__/JobsList.test.jsx
  web/src/__tests__/views/PublishProcess/PublishProcess.test.jsx
  web/src/__tests__/views/PublishingProcess/PublishingView.test.jsx
  web/src/apis/JobsApi.ts
  web/src/components/experiment-details/menu-options/jobLog.scss
  web/src/components/ui/MPipes/MPipes.jsx
  web/src/components/ui/MPipes/MPipes.scss
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
  web/src/components/views/PublishProcessView/PublishProcessView.scss
  web/src/components/views/PublishProcessView/publishingActionsAndFuncs.js
  web/src/components/views/PublishingView/InterludeView.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/routes.js
Due: build frontend, deploy

E2E test: run a pipeline with data operation and check the correct execution
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/ProcessorVersion.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/PythonParserService.kt
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
  backend/mlreef-rest/src/main/resources/db/migration/V50__751-CHANGE-PROCESSOR-VERSION-PATH-FIELD.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
  web/src/__end2end-tests__/DataPipelines.test.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

remove useless code and increment zIndex in select param comp
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList/SelectComp.jsx
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy

Add gitlab forking requests
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/requests.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/GitlabRestClientTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add forking to project service
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/CodeProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProject.kt
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Project.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/ProjectServiceForkingTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Remove obsolete function parameters
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/dsl/DSLContextBuilder.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoaderTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fix group project recovering and group card issue as well as adding tests
  web/src/__tests__/createProject.test.jsx
  web/src/__tests__/views/groupsOverview/GroupCard.test.jsx
  web/src/__tests__/views/groupsOverview/GroupsOverview.test.jsx
  web/src/components/navbar/navbar.jsx
  web/src/components/ui/MRadio/MRadioGroup.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/groupsOverview/GroupActions.js
  web/src/components/views/groupsOverview/GroupCard.jsx
  web/src/components/views/groupsOverview/GroupOverview.jsx
  web/src/components/views/groupsOverview/groupCard.scss
  web/src/testData.js
Due: build frontend, deploy

#749 implement new directory function
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/layout/NewDirectoryPartial.test.jsx
  web/src/actions/actionModalActions.js
  web/src/components/commons/Redirect.jsx
  web/src/components/layout/NewDirectoryPartial/NewDirectoryPartial.jsx
  web/src/components/layout/NewDirectoryPartial/NewDirectoryPartial.scss
  web/src/components/layout/NewDirectoryPartial/index.js
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MRadio/MRadioGroup.jsx
  web/src/components/ui/MRadio/MRadioGroup.scss
  web/src/reducers/actionModalReducer.js
  web/src/routes.js
Due: build frontend, deploy

#558 Add forking api
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.jsx
  web/src/apis/ProjectGeneralInfoApi.ts
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

1) Republish api was added 2) tests for publishing process 3) documentation for publishing
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/CodeProjectPublishingController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CodeProjectPublishingDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/CommitDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/Commit.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/CodeProjectPublishingService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/CodeProjectPublishingApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/CodeProjectPublishingServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add publications view with corresponding tests
  web/src/__tests__/views/Publications/Publications.test.jsx
  web/src/__tests__/views/Publications/publicationsActionsAndFunctions.test.js
  web/src/actions/actionTypes.js
  web/src/actions/projectInfoActions.js
  web/src/apis/GitlabPipelinesApi.ts
  web/src/components/projectContainer.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/repoInfo.jsx
  web/src/components/views/Publications/PublicationActionsAndFunctions.js
  web/src/components/views/Publications/PublicationInfoRow.jsx
  web/src/components/views/Publications/Publications.jsx
  web/src/components/views/Publications/Publications.scss
  web/src/components/views/PublishProcessView/PublishProcessView.jsx
  web/src/components/views/PublishProcessView/publishingActionsAndFuncs.js
  web/src/dataTypes.js
  web/src/images/calender.png
  web/src/images/clock.png
  web/src/reducers/projectReducer.js
  web/src/routes.js
  web/src/testData.js
Due: build frontend, deploy

Make changes to upload files
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/branchSwitching.test.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/components/views/uploadFile/uploadFile.scss
  web/src/routes.js
Due: build frontend, deploy

Fixed nonoptimized bot creation function
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Update InitialDataLoader.kt fix tsne
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Datasets show status color in files selector
  web/src/__tests__/NewMergeReq.test.jsx
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/__tests__/views/CommitsView/CommitsView.test.jsx
  web/src/__tests__/views/PipelinesExecutionView/MSelectData.test.jsx
  web/src/__tests__/views/PublishingProcess/SelectEntryPoint.test.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/data-instance/DataInstancesOverview.jsx
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.scss
  web/src/components/ui/MFileExplorer/MFileExplorer.jsx
  web/src/components/views/MergeRequests/NewMergeReq.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.jsx
  web/src/components/views/PipelinesExecutionView/SelectDataPipelineModal/SelectDataPipelineModal.scss
  web/src/css/globalStyles.css
  web/src/testData.js
Due: build frontend, deploy

#885 visual issues project view
  web/src/__tests__/__snapshots__/ReadMe.test.jsx.snap
  web/src/components/FilesContainer/FilesContainer.jsx
  web/src/components/ReadMe/ReadMe.jsx
  web/src/components/projectView/projectView.css
  web/src/components/repoFeatures.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.scss
  web/src/css/globalStyles.css
Due: build frontend, deploy

Fix undefined options in actionModalActions
  web/src/actions/actionModalActions.js
Due: build frontend, deploy

Fix select and radio and styles
  web/src/components/views/create-project/createProject.css
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy

Prevent modal exception, refactor code and add expand button
  web/src/components/experiments-overview/ExperimentSummary.jsx
Due: build frontend, deploy

Add end2end test for local registry epf image verification
  bin/install
  web/src/__end2end-tests__/EPFDeploymentLocalImage.test.jsx
  web/src/apis/ProjectGeneralInfoApi.ts
Due: build frontend, deploy

#882 fix dropdown url and styles
  web/public/images/stared.png
  web/src/__tests__/ProjectInfo.test.jsx
  web/src/__tests__/ui/MCloneDropdown.test.jsx
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/projectView/projectView.css
  web/src/components/ui/MCloneDropdown/MCloneDropdown.jsx
  web/src/components/ui/MCloneDropdown/MCloneDropdown.scss
  web/src/components/ui/MCloneDropdown/index.js
  web/src/functions/helpers.js
Due: build frontend, deploy

Add installation of Python3 dependencies
  backend/mlreef-rest/src/main/resources/code-publishing-dockerfile-template
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#863 - branch already exists
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/NameGenerator.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#794 - speedup pipeline start
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/PipelineService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

add fields to generate links correctly
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy

Cast object to Experiment to call method
  web/src/__tests__/views/experiments/ExperimentActions.test.js
  web/src/components/experiments-overview/ExperimentActions.js
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
Due: build frontend, deploy

Make unique query singular in Database-repo signature
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add mlreef font icons and simplify button responsiveness
  docs/static/fonts/mlreef-icons.ttf
  web/public/fonts/mlreef-icons.ttf
  web/src/__tests__/__snapshots__/branchSwitching.test.jsx.snap
  web/src/components/repoFeatures.jsx
  web/src/styles/fonts/README.md
  web/src/styles/fonts/index.css
  web/src/styles/fonts/mlreef-icons.svg
  web/src/styles/fonts/mlreef-icons.ttf
  web/src/styles/modules/_buttons.scss
  web/src/styles/theme.scss
Due: build frontend, deploy, pages

Add remark plugin configuration
  docs/bin/npm
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
Due: pages

fix a bug when user in project as maintainer cannot start any experiment/pipeline
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsPipelineConfigsController.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Revert "pass the right parameters to the CodeProject builder to fix weird bug, remove useless lines"
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/DataProcessor.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ProjectsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/GitlabDataProjectServiceUnitTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/project/ProjectServiceForkingTest.kt
  web/src/__end2end-tests__/CodePublishing.test.jsx
  web/src/__end2end-tests__/ProjectsGeneralInfoApiNoAuth.test.jsx
  web/src/__end2end-tests__/apiMocks/ProjectApiMock.spike.ts
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/components/myProjects/myProjects.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
  web/src/components/views/create-project/createProject.jsx
Due: compile backend, build backend, build frontend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Use case/asfinag
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/data_processors/InitialDataLoader.kt
  epf/src/model/asfinag_tree_cover.py
  epf/src/model/multimodel.py
  epf/src/model/resnet50.py
  epf/src/tests/requirements.txt
Due: compile backend, build backend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Developer documentation
  docs/content/99-development/0-README.md
  docs/content/99-development/authentication.md
  docs/content/99-development/container-diagram.gliffy
  docs/content/99-development/container-diagram.png
Due: pages

Revert "Merge branch '873-correctly-render-mermaid-graphs-in-documentation-page' into 'master'"
  docs/bin/npm
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  epf/src/tests/requirements.txt
Due: build epf, deploy, pages, e2e test experiment

Improve Graph Layout
  docs/content/99-development/0-README.md
Due: pages

add filter to prevent exception
  web/src/__end2end-tests__/CodePublishing.test.fix
  web/src/__end2end-tests__/CommitsApi.test.fix
  web/src/__end2end-tests__/DataPipelines.test.fix
  web/src/__end2end-tests__/EPFDeploymentLocalImage.test.fix
  web/src/__end2end-tests__/ProjectsGeneralInfoApi.test.fix
  web/src/__end2end-tests__/ProjectsGeneralInfoApiNoAuth.test.fix
  web/src/actions/processorActions.js
  web/src/components/views/PipelinesExecutionView/DataPipelineHooks/DataPipelinesReducer.js
Due: build frontend, deploy

Adapt CI config to new branch structure
  .gitlab-ci.yml
  bin/ci-backup
  bin/ci-restore
  bin/ci-smoke-tests
  bin/resources/ec2-startup
Due: none

Correct commits link
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
Due: build frontend, deploy

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*
