Repository MLReef/mlreef: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile backend, build backend, build frontend, build epf, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Path conditions:
  compile backend: any of: backend/**/*, bin/ci-compile-backend, .gitlab-ci-build.yml
  build backend: any of: backend/**/*, bin/ci-build-backend, .gitlab-ci-build.yml
  build frontend: any of: web/**/*, bin/ci-build-frontend, .gitlab-ci-build.yml
  build epf: any of: epf/**/*, bin/ci-build-epf, .gitlab-ci-build.yml
  backend integration tests: any of: backend/**/*, .gitlab-ci-test.yml
  deploy: any of: backend/**/*, bin/ci-deploy, epf/**/*, web/**/*, docker-compose.yml
  pages: any of: backend/**/*, docs/**/*, README.md
  postman test suite: any of: backend/**/*
  e2e test experiment: any of: backend/**/*, bin/tests/**/***, bin/ci-test-end2end-experiment, epf/**/*

Determine job class based on pipeline type
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
Due: build frontend, deploy

Improve functionality in the dataset details view
  web/src/__tests__/views/experiments/ExperimentDeletionModal.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/actions/branchesActions.js
  web/src/apis/DataPipelineApi.ts
  web/src/apis/GitlabPipelinesApi.ts
  web/src/apis/PipelinesApi.js
  web/src/components/DeleteDataInstance/DeleteDatainstance.jsx
  web/src/components/data-instance/dataInstanceDetails.jsx
  web/src/components/data-instance/dataInstanceDetails.scss
  web/src/components/data-instance/dataInstanceOverview.jsx
  web/src/components/data-instances-delete-and-abort-modal/dataInstancesDeleteNAbortModal.jsx
  web/src/components/data-visualization/dataVisualizationDetail.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/delete-file-modal/deleteFileModal.css
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/experiment-details/menu-options/DetailSummary.jsx
  web/src/components/experiment-details/menu-options/jobLog.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/experiments-overview/ExperimentSummary.jsx
  web/src/components/experiments-overview/experimentCard.jsx
  web/src/components/experiments-overview/experimentsOverview.css
  web/src/components/layout/DataCard/DataCard.jsx
  web/src/components/layout/DataCard/DataCard.scss
  web/src/components/layout/DataCard/index.js
  web/src/css/genericModal.css
  web/src/css/globalStyles.css
  web/src/dataTypes.js
Due: build frontend, deploy

Feature/734 output artifact download
  backend/mlreef-rest/src/main/resources/mlreef-file-template.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

#700: Fix Mail templates and fix rest-docs
  backend/mlreef-rest/src/docs/asciidoc/rest-api.adoc
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/AuthenticationProvider.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/config/security/SecurityConfiguration.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/auth/AuthService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/email/EmailService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/email/TemplateService.kt
  backend/mlreef-rest/src/main/resources/templates/html/password_reset.html
  backend/mlreef-rest/src/main/resources/templates/html/welcome.html
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Update README.md
  README.md
Due: pages

Add some UI elements for publishing layout
  web/src/__tests__/views/ExploreView/ExploreViewProjectSet.test.jsx
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/components/ui/MBranchSelector/MBranchSelector.jsx
  web/src/components/ui/MBranchSelector/MBranchSelector.scss
  web/src/components/ui/MBranchSelector/index.js
  web/src/components/ui/MBricksWall/MBricksWall.jsx
  web/src/components/ui/MBricksWall/MBricksWall.scss
  web/src/components/ui/MBricksWall/index.js
  web/src/components/ui/MBricksWall/sortGrid.js
  web/src/components/ui/MDataFilters/MDataFilters.jsx
  web/src/components/ui/MDataFilters/MDataFilters.scss
  web/src/components/ui/MFileExplorer/MFileExplorer.jsx
  web/src/components/ui/MFileExplorer/MFileExplorer.scss
  web/src/components/ui/MFileExplorer/index.js
  web/src/components/ui/MSimpleTabs/MSimpleTabs.scss
  web/src/components/ui/MSimpleTabs/MSimpleTabsRouted.jsx
  web/src/components/views/ExploreView/ExploreView.jsx
  web/src/components/views/ExploreView/ExploreViewProjectSet.jsx
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingView.scss
  web/src/components/views/PublishingView/index.js
  web/src/components/views/PublishingView/info.json
  web/src/components/views/PublishingView/info2.jsx
  web/src/routerComp.jsx
Due: build frontend, deploy

Improve download button and other refactorizations
  web/src/actions/jobsActions.js
  web/src/apis/JobsApi.js
  web/src/apis/JobsApi.ts
  web/src/components/experiment-details/experimentDetails.jsx
  web/src/components/experiment-details/menu-options/ExperimentArtifacts.jsx
  web/src/components/experiment-details/menu-options/jobLog.jsx
  web/src/components/files-table/filesTable.jsx
  web/src/components/insights/insights-menu/jobLogById.jsx
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/domain/informationUnits.ts
Due: build frontend, deploy

Patch error on change event
  web/src/components/views/create-project/createProject.jsx
Due: build frontend, deploy

closes #531: Add number to Experiment
  backend/.run/D_DataProject_Experiment_Test.run.xml
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Experiment.kt
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/ExperimentsController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ExperimentDto.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/dev-data-population.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/experiment/ExperimentService.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/repositories.kt
  backend/mlreef-rest/src/main/resources/application-test.yml
  backend/mlreef-rest/src/main/resources/db/migration/V38__531-FEATURE-add-experiment-number.sql
  backend/mlreef-rest/src/main/resources/db/migration/V39__531-HOTFIX-fix-sql-constraint.sql
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AbstractRestApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/AuthApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/Commons.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/DataProcessorApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ExperimentsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/GroupsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/MarketplaceApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/api/ProjectsApiTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/feature/pipeline/PipelineServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ExperimentsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectPipelinesConfigIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/AbstractRepositoryTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/persistence/ExperimentTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/AbstractServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/DataProcessorServiceTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/D_DataProject_Experiment_Test.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Get rid of jquery to diminish app size
  web/package-lock.json
  web/package.json
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/functions/pipeLinesHelpers.js
Due: build frontend, deploy

Activate gzip in nginx_default.conf
  web/nginx_default.conf
Due: build frontend, deploy

Split monaco library from main bundle
  web/src/components/code-diff-section/codeDiffSection.jsx
  web/src/components/layout/MCodefileRenderer/MCodefileRenderer.jsx
  web/src/customImports/MonacoDiffEditor.js
  web/src/index.jsx
Due: build frontend, deploy

Quickfix/aws key deploy to production
  bin/includes/ci-detect-ssh-keyfile
Due: none

Filter jobs accordingly
  web/src/components/insights/insights-menu/jobs.jsx
Due: build frontend, deploy

Add edit template and markdown support for merge request
  web/src/__tests__/MergeRequests/MergeRequestEdit.test.jsx
  web/src/__tests__/MergeRequests/MergeRequestEditWithActions.test.jsx
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/actions/mergeActions.js
  web/src/components/layout/MergeRequests/MergeRequestEdit.jsx
  web/src/components/layout/MergeRequests/MergeRequestEdit.scss
  web/src/components/layout/MergeRequests/MergeRequestEditWithActions.jsx
  web/src/components/layout/MergeRequests/index.js
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
Due: build frontend, deploy

Get rid of material ui to improve performance
  web/src/__tests__/deleteFileModal.test.jsx
  web/src/__tests__/newMergeRequest.test.jsx
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/__tests__/views/experiments/__snapshots__/ExperimentsOverview.test.jsx.snap
  web/src/components/BlackBorderedButton.jsx
  web/src/components/BlueBorderedInput.jsx
  web/src/components/CustomizedSelect.jsx
  web/src/components/Demo.jsx
  web/src/components/DropDown.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/customized-menu/CustomizedMenu.css
  web/src/components/customized-menu/CustomizedMenu.jsx
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/insights/insights-menu/jobs.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/new-merge-request/newMergeRequest.jsx
  web/src/components/views/PipelinesExecutionView/ExecutePipelineModal/ExecutePipeLineModal.jsx
  web/src/components/views/userSettings/ProfileSection.jsx
Due: build frontend, deploy

Fix Number field in Experiment entity
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/Experiment.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/dto/ExperimentDto.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/service/ExperimentServiceTest.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Fix bug in detection of available ssh key
  bin/ci-backup
  bin/ci-restore
  bin/includes/ci-detect-ssh-keyfile
Due: none

Improve enum BaseEnvironment readability
  backend/mlreef-domain/src/main/kotlin/com/mlreef/rest/BaseEnvironment.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Add initial loader spinner
  web/public/index.html
  web/src/styles/theme.scss
Due: build frontend, deploy

Update development keyfile name
  README.md
  backend/.gitlab-ci.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Create password confirmation UI
  web/public/images/svg/MLReef_Icon_POS_ALPHA-01.svg
  web/src/__tests__/views/PasswordManagement/ResetPasswordView.test.jsx
  web/src/__tests__/views/PasswordManagement/__snapshots__/ResetPasswordView.test.jsx.snap
  web/src/apis/PasswordManagementApi.ts
  web/src/components/RegisterView/formInformation.js
  web/src/components/views/ResetPassword/PasswordConfirmationView.jsx
  web/src/components/views/ResetPassword/ResetPasswordView.jsx
  web/src/routerComp.jsx
Due: build frontend, deploy

Revert "add files created"
  .gitignore
  .gitlab-ci.yml
  web/package-lock.json
  web/package.json
  web/src/__tests__/views/experiments/ExperimentsOverview.test.jsx
  web/src/components/CustomizedButton.jsx
  web/src/components/branches-list-view/branchesView.jsx
  web/src/components/commits-view/commitsView.jsx
  web/src/components/data-visualization/dataVisualizationOverview.jsx
  web/src/components/delete-file-modal/deleteFileModal.jsx
  web/src/components/experiment-details/menu-options/jobLog.jsx
  web/src/components/experiments-overview/ExperimentOverview.jsx
  web/src/components/mergeRequestDetailView/basicMergeRequestView.jsx
  web/src/components/new-merge-request/merge-request-overview.jsx
  web/src/components/ui/MLoadingSpinner/MLoadingSpinner.jsx
  web/src/components/ui/MLoadingSpinner/MLoadingSpinner.scss
  web/src/components/ui/MLoadingSpinner/index.js
  web/src/components/views/create-group/createGroup.jsx
  web/src/components/views/create-project/createProject.jsx
  web/src/components/views/uploadFile/fileToSend.jsx
  web/src/components/views/uploadFile/uploadConstantsAndFunctions.js
  web/src/components/views/uploadFile/uploadFile.jsx
  web/src/dataTypes.js
Due: build frontend, deploy

Add 404 page
  web/src/components/error-page/error404Page.jsx
  web/src/routerComp.jsx
Due: build frontend, deploy

Add variable height card board (MBricksWall) to ML Projects (reloaded)
  web/src/__tests__/ui/MProjectClassification.test.jsx
  web/src/__tests__/ui/__snapshots__/MProjectClassification.test.jsx.snap
  web/src/__tests__/views/ExploreView/__snapshots__/ExploreViewProjectSet.test.jsx.snap
  web/src/components/projectSet.jsx
  web/src/components/ui/MBricksWall/MBricksWall.jsx
  web/src/components/ui/MProjectCard/MProjectCard.jsx
  web/src/components/ui/MProjectCard/MProjectCard.scss
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
Due: build frontend, deploy

Streamline Bug description deplate
  .gitlab/issue_templates/Bug.md
Due: none

Connect to star endpoint and handle star button
  web/public/images/star.png
  web/public/images/svg/unstar.svg
  web/src/ErrorHandler.jsx
  web/src/__tests__/ProjectInfo.test.jsx
  web/src/__tests__/clonedropdown.test.jsx
  web/src/__tests__/ui/ProjLastCommitSect.test.jsx
  web/src/actions/actionTypes.js
  web/src/actions/projectInfoActions.js
  web/src/apis/projectGeneralInfoApi.ts
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/projectContainer.jsx
  web/src/components/projectSet.jsx
  web/src/components/projectView/projectView.css
  web/src/components/projectView/projectView.jsx
  web/src/reducers/projectReducer.js
  web/src/testData.js
Due: build frontend, deploy

Modify error handling function
  web/src/apis/FilesApi.ts
  web/src/components/ReadMe/ReadMe.jsx
  web/src/functions/apiCalls.js
Due: build frontend, deploy

Create more UI components for publishing process
  web/src/__tests__/ui/MCheckBoxGroup.test.jsx
  web/src/components/ui/MCheckBoxGroup/MCheckBoxGroup.jsx
  web/src/components/ui/MCheckBoxGroup/MCheckBoxGroup.scss
  web/src/components/ui/MCheckBoxGroup/index.js
  web/src/components/ui/MFileExplorer/MFileExplorer.scss
  web/src/components/ui/MVerticalSteps/MVerticalSteps.jsx
  web/src/components/ui/MVerticalSteps/MVerticalSteps.scss
  web/src/components/ui/MVerticalSteps/index.js
  web/src/components/views/PublishingView/PublishingView.jsx
  web/src/components/views/PublishingView/PublishingView.scss
  web/src/components/views/PublishingView/PublishingViewPublishModel.jsx
  web/src/components/views/PublishingView/info2.jsx
Due: build frontend, deploy

closes #719: Add systemTest for gitlabCi docker building
  backend/.run/E_Docker_Test.run.xml
  backend/.run/backend_mlreef-system-test [pipelineTest].run.xml
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/dto/GitlabPipeline.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/B1_DataProject_Test.kt
  backend/mlreef-system-test/src/test/kotlin/com/mlreef/rest/v1/system/E_Docker_Test.kt
  backend/mlreef-system-test/src/test/resources/docker_test.Dockerfile
  backend/mlreef-system-test/src/test/resources/docker_test.mlreef.yml
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Refine the commit details view
  web/src/actions/projectInfoActions.js
  web/src/apis/CommitsApi.ts
  web/src/components/commits-details/commitDetails.css
  web/src/components/commits-details/commitDetails.jsx
  web/src/components/imageDiffSection/imageDiffSection.jsx
  web/src/components/projectView/projectView.jsx
  web/src/components/repoInfo.jsx
  web/src/functions/apiCalls.js
  web/src/routerComp.jsx
Due: build frontend, deploy

Add title to projects
  web/package-lock.json
  web/package.json
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/myProjects/myProjects.jsx
  web/src/index.jsx
Due: build frontend, deploy

Remove obsolete filea
  src/tests/__pycache__/im_transformations_tests.cpython-36.pyc
  src/tests/__pycache__/im_transformations_tests.cpython-37.pyc
Due: none

Bugfix/750 integration tests failed
  backend/mlreef-rest/build.gradle
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/api/v1/PasswordController.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/external_api/gitlab/GitlabRestClient.kt
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/email/TemplateService.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ExperimentsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/GitlabRestClientTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/PasswordIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/integration/ProjectsIntegrationTest.kt
  backend/mlreef-rest/src/test/kotlin/com/mlreef/rest/testcommons/TestGitlabContainer.kt
  backend/mlreef-rest/src/test/resources/gitlab.rb
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Split member request from projects request
  web/src/actions/projectInfoActions.js
  web/src/components/ui/MProjectCard/MProjectCard.jsx
Due: build frontend, deploy

Filter starred projects
  web/src/__tests__/integrationTests/projectActions.test.js
  web/src/actions/projectInfoActions.js
  web/src/components/ProjectTitleNActions.jsx
  web/src/components/ui/MProjectClassification/MProjectClassification.jsx
Due: build frontend, deploy

Remove some compiler warnings
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/project/ProjectService.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Use kotlin idiomatic file access
  backend/mlreef-rest/src/main/kotlin/com/mlreef/rest/feature/pipeline/YamlFileGenerator.kt
Due: compile backend, build backend, backend integration tests, deploy, pages, postman test suite, e2e test experiment

Show input data to the user
  web/src/components/instruction/instruction.css
  web/src/components/layout/FilesSelector/FilesSelector.jsx
  web/src/components/layout/FilesSelector/FilesSelector.scss
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.jsx
  web/src/components/views/PipelinesExecutionView/PipelinesExecutionView.scss
  web/src/components/views/PipelinesExecutionView/SortableDataProcessorsList.jsx
  web/src/components/views/PipelinesExecutionView/pipelineView.css
  web/src/components/views/PipelinesExecutionView/processorsList.jsx
Due: build frontend, deploy
